@use "../styles/animation.scss";
.m-overlay-v2 {
  position: fixed;
  left: 0%;
  top: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  width: 100%;
  height: 100%;

  .m-overlay-v2-content {
    position: fixed;
    left: 0%;
    top: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--m-overlay-v2-color-lighter);
    transition: var(--m-animation-time, 0.2s);
    z-index: 0;
  }
}
