.pa-switch {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: calc(var(--pa-size-padding, 10px) / 3) 0;
  border: 1px solid transparent;
  user-select: none;

  &:hover {
    cursor: pointer;
    .pa-switch-inner {
      border-color: var(--pa-color-primary);
      box-shadow: 0 0 0 2px var(--pa-color-primary-light-8);
    }
  }

  .pa-switch__inner {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(var(--pa-size-height) - var(--pa-size-height) / 4);
  }

  .pa-switch-inner {
    position: relative;
    width: calc(var(--pa-size-height) * 0.9 * 2);
    height: calc(var(--pa-size-height) * 0.9);
    border-radius: calc(var(--pa-size-height) * 0.9);
    border: 1px solid var(--pa-color-border);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 1px;
    transition: 0.2s ease-in-out;
    background-color: var(--pa-color-border);
  }

  .pa-switch-thumb {
    width: calc(var(--pa-size-height) * 0.7);
    height: calc(var(--pa-size-height) * 0.7);
    border-radius: 50%;
    background-color: #fff;
  }

  .pa-switch-text {
    color: var(--pa-color-font);
    font-size: var(--pa-size-font);
  }

  .pa-switch-text + .pa-switch-inner {
    margin-left: var(--pa-size-padding);
  }
  .pa-switch-inner + .pa-switch-text {
    margin-left: var(--pa-size-padding);
  }
  .pa-switch-text-inactive {
    font-weight: bold;
    color: var(--pa-color-primary);
  }
}

.pa-switch.is-disabled {
  &:hover {
    cursor: not-allowed;
    .pa-switch-inner {
      cursor: not-allowed;
      border-color: var(--pa-color-border);
      box-shadow: none;
    }
  }
}

.pa-switch.pa-switch-active {
  .pa-switch-inner {
    background-color: var(--pa-color-primary);
    border-color: var(--pa-color-primary);
    justify-content: flex-end;
  }
  .pa-switch-text-inactive {
    color: var(--pa-color-primary);
  }

  .pa-switch-text-inactive {
    font-weight: normal;
    color: var(--pa-color-font);
  }

  .pa-switch-text-active {
    font-weight: bold;
    color: var(--pa-color-primary);
  }
}
