.m-tag-v2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // margin-left: -2px;
  transform: translateX(-2px);
  flex-wrap: wrap;
  width: 100%;

  .m-tag-v2-text {
    display: flex;
    padding: 1px calc(var(--m-component-padding-size, 10px) / 2);
    margin: 2px;
    border-radius: 3px;
    line-height: normal;
    justify-content: center;
    align-items: center;
    background-color: var(--m-color-info-light-8);
    color: var(--m-color-info);
    font-size: calc(var(--m-component-font-size, 13px) - 1px);
    .m-tag-v2-text-content {
      width: max-content;
    }
    .close-icon {
      margin-left: calc(var(--m-component-padding-size, 10px) / 2);
      color: var(--m-color-default);
      transition: var(--m-animation-time, 0.2s);
      font-size: var(--m-component-font-size, 13px);

      &:hover {
        color: var(--m-color-danger);
        cursor: pointer;
      }
    }
  }
}
