%m-tabs-v2-style_mode {
  display: flex;
  flex-direction: column;
  height: calc(100% - 0px);

  > .m-tabs-v2-content {
    width: 100%;
    height: 100%;
    > .m-tabs-v2-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      position: relative;
      width: calc(100% - var(--m-size-v2-padding, 10px) * 2);
      padding-left: var(--m-size-v2-padding, 10px);
      padding-right: var(--m-size-v2-padding, 10px);
      &:has(.left-icon) {
        > .m-tabs-v2-title-list {
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            content: "";
            display: block;
            z-index: 15;
            box-shadow: 0px 0 10px 1.5px var(--m-color-v2-black);
          }
          &::after {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            content: "";
            display: block;
            z-index: 15;
            box-shadow: 0px 0 10px 1.5px var(--m-color-v2-black);
          }
        }
      }
      &:has(.left-icon.disabled) {
        > .m-tabs-v2-title-list {
          &::before {
            display: none;
          }
        }
      }
      &:has(.right-icon.disabled) {
        > .m-tabs-v2-title-list {
          &::after {
            display: none;
          }
        }
      }
      &:has(.top-icon) {
        > .m-tabs-v2-title-list {
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            content: "";
            display: block;
            z-index: 15;
            box-shadow: 0px 0 10px 1.5px var(--m-color-v2-black);
          }
          &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            content: "";
            display: block;
            z-index: 15;
            box-shadow: 0px 0 10px 1.5px var(--m-color-v2-black);
          }
        }
      }
      &:has(.top-icon.disabled) {
        > .m-tabs-v2-title-list {
          &::before {
            display: none;
          }
        }
      }
      &:has(.down-icon.disabled) {
        > .m-tabs-v2-title-list {
          &::after {
            display: none;
          }
        }
      }

      > .m-tabs-v2-title-list {
        position: relative;
        overflow: hidden;
        user-select: none;

        > .m-tabs-v2-box {
          position: relative;
          display: flex;
          transform: translateX(var(--tab-header-scroll));
          transition: transform var(--m-animation-time, 0.2s);
          width: fit-content;
          z-index: 10;
          > .m-tabs-v2-title {
            &:hover {
              background-color: var(--m-color-v2-border);
            }
          }
        }
      }

      > .icons {
        font-size: 30px;
        transition: var(--m-animation-time, 0.2s);
        color: var(--m-scrollbar-thumb-color);
        border-radius: var(--m-size-v2-radius, 3px);
        &:hover {
          background-color: var(--m-color-v2-border);
          color: var(--m-color-v2-primary);
          cursor: pointer;
        }
      }
      > .left-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 100%;
        line-height: 24px;
        color: var(--m-scrollbar-thumb-color);
        margin-right: calc(var(--m-size-v2-padding, 10px) / 3);
      }
      > .right-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 100%;
        line-height: 24px;
        color: var(--m-scrollbar-thumb-color);
        margin-left: calc(var(--m-size-v2-padding, 10px) / 3);
      }
      > .top-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20px;
        margin-bottom: calc(var(--m-size-v2-padding, 10px) / 3);
        color: var(--m-scrollbar-thumb-color);
        > .m-iconfont {
          transform: translateY(0.5px);
        }
      }
      > .down-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20px;
        color: var(--m-scrollbar-thumb-color);
        margin-top: calc(var(--m-size-v2-padding, 10px) / 3);
        > .m-iconfont {
          transform: translateY(-0.5px);
        }
      }

      > .icons.disabled {
        color: var(--m-color-v2-hover) !important;
        cursor: not-allowed !important;
      }
    }

    > .m-tabs-v2-scroll {
      flex: 1;
      width: 100%;
      height: 1px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .m-tabs-v2-contents {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.m-tabs-v2-style_mode-default {
  @extend %m-tabs-v2-style_mode;
  > .m-tabs-v2-content {
    > .m-tabs-v2-header {
      > .m-tabs-v2-title-list {
        > .m-tabs-v2-box {
          // &::after {
          //   position: absolute;
          //   right: 0;
          //   border-right: 1px solid var(--m-color-v2-scrollbar);
          //   height: 50%;
          //   top: 50%;
          //   transform: translateY(-50%);
          //   content: "";
          //   display: block;
          // }

          > .m-tabs-v2-title {
            position: relative;
            padding: 0 calc(var(--m-size-v2-padding, 10px) + 10px);
            font-size: calc(var(--m-size-v2-font-base) + 0px);
            line-height: calc(var(--m-size-v2-height, 30px) + 4px);
            color: var(--m-color-v2-font);
            white-space: nowrap;
            transition: var(--m-animation-time, 0.2s);
            font-style: normal;
            border-radius: var(--m-size-v2-radius, 3px);

            // &::before {
            //   position: absolute;
            //   left: 0;
            //   border-right: 1px solid var(--m-color-v2-scrollbar);
            //   height: 50%;
            //   top: 50%;
            //   transform: translateY(-50%);
            //   content: "";
            //   display: block;
            // }

            &:hover {
              cursor: pointer;
            }
          }

          > .m-tabs-v2-title.m-tabs-v2-title_action {
            position: relative;
            font-weight: bold;
            // font-style: italic;
            color: var(--m-color-v2-primary);
            // background-color: var(--m-color-v2-bg);

            &::after {
              position: absolute;
              bottom: 0;
              left: 50%;
              display: block;
              content: "";
              transform: translate3d(-50%, 0px, 1px);
              animation: title-action var(--m-animation-time, 0.2s);
              animation-fill-mode: forwards;
              border-top: 2px solid var(--m-color-v2-primary);
            }
          }

          .m-tabs-v2-title_portrait {
            &::before {
              display: none;
            }
          }
          .m-tabs-v2-title_portrait.m-tabs-v2-title_action {
            &::after {
              position: absolute;
              top: 50%;
              left: 3px;
              display: block;
              height: 50%;
              transform: translate3d(0%, -50%, 1px);
              content: "";
              border-top: none;
              animation: title-action2 var(--m-animation-time, 0.2s);
              animation-fill-mode: forwards;
              border-left: 4px solid var(--m-color-v2-primary);
            }
          }
        }
      }
    }
  }
}

.m-tabs-v2-style_mode-card {
  @extend %m-tabs-v2-style_mode;
  > .m-tabs-v2-content {
    > .m-tabs-v2-header {
      > .m-tabs-v2-title-list {
        // background-color: var(--m-color-v2-scrollbar);
        > .m-tabs-v2-box {
          > .m-tabs-v2-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: calc(calc(var(--m-size-v2-padding, 10px) / 2));
            position: relative;
            padding: 0 calc(var(--m-size-v2-padding, 10px) + 10px);
            // width: calc(100% - calc(var(--m-size-v2-padding, 10px) * 2.2)) !important;
            padding-left: calc(var(--m-size-v2-padding, 10px) * 1.1) !important;
            padding-right: calc(var(--m-size-v2-padding, 10px) * 1.1) !important;
            font-size: var(--m-size-v2-font, 16px);
            line-height: calc(var(--m-size-v2-height, 30px) + 4px);
            color: var(--m-color-v2-font);
            white-space: nowrap;
            transition: var(--m-animation-time, 0.2s);
            border-top-left-radius: var(--m-size-v2-radius, 3px);
            border-top-right-radius: var(--m-size-v2-radius, 3px);
            background-color: var(--m-color-v2-scrollbar);

            &:hover {
              cursor: pointer;
            }
          }

          > .m-tabs-v2-title.m-tabs-v2-title_action {
            position: relative;
            font-weight: bold;
            color: var(--m-color-v2-bg);
            background-color: var(--m-color-v2-primary);
            // animation: title-action3 0.36s;
            // animation-fill-mode: forwards;
            background-size: 100%;
          }
        }
      }
      > .m-tabs-v2-title-list:has(.left-icon) {
        position: relative;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          content: "";
          display: block;
          z-index: 15;
          box-shadow: 0px 0 10px 1.5px var(--m-color-v2-black);
        }
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          content: "";
          display: block;
          z-index: 15;
          box-shadow: 0px 0 10px 1.5px var(--m-color-v2-black);
        }
      }
      > .icons {
        font-size: 30px;
        transition: var(--m-animation-time, 0.2s);
        color: var(--m-scrollbar-thumb-color);
        border-radius: var(--m-size-v2-radius, 3px);
        background-color: var(--m-color-v2-border);
        &:hover {
          color: var(--m-color-v2-primary);
          cursor: pointer;
        }
      }
    }
  }

  .m-tabs-v2-header_line {
    position: relative;
    &:after {
      position: absolute;
      bottom: -1.7px;
      width: 100%;
      display: block;
      z-index: 99;
      content: "";
      border-bottom: 2px solid var(--m-color-v2-primary);
    }
  }
}

.m-tabs-v2-style_align-edge.m-tabs-v2-style_mode-default,
.m-tabs-v2-style_align-edge.m-tabs-v2-style_mode-card {
  > .m-tabs-v2-content {
    > .m-tabs-v2-header {
      padding: 0;
      width: 100%;
    }
  }
}

// .m-tabs-v2-style_mode-default,
// .m-tabs-v2-style_mode-card {
//   .m-tabs-v2-content {
//     .m-tabs-v2-contents_slider {
//       flex-direction: column !important;
//       transform: translateX(0%) !important;
//       .m-tabs-v2-item {
//         height: 100% !important;
//         visibility: visible !important;
//         // border-bottom: 1px solid var(--m-color-v2-scrollbar);
//       }
//       .flex-height-1 {
//         visibility: visible !important;
//         display: block !important;
//       }
//       .m-scrollbar-body {
//         width: initial !important;
//       }
//     }
//   }
// }

// 纵向布局
.m-tabs-v2-mode-portrait,
.m-tabs-v2-mode-slider {
  > .m-tabs-v2-content {
    > .m-tabs-v2-header {
      margin-right: calc(var(--m-size-v2-padding, 10px) / 1.5);
      width: 140px;
      height: 100%;
      align-items: center;
      border-bottom: none;
      flex-direction: column;
      padding: 0;
      > .m-tabs-v2-title-list {
        position: relative;
        height: 100%;
        width: 100%;

        > .m-tabs-v2-box {
          width: 100%;
          background-color: var(--m-color-v2-scrollbar);
          border-radius: var(--m-size-v2-radius, 3px);
          height: max-content;
          overflow: hidden;
          transform: translateY(var(--tab-header-scroll));
          transition: transform var(--m-animation-time, 0.2s);
          > .m-tabs-v2-title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 0;
            border-radius: var(--m-size-v2-radius, 3px);
            // width: calc(100%);
            // width: calc(100% - calc(var(--m-size-v2-padding, 10px) + 10px) * 2);
            white-space: break-spaces;
            padding: 4px 0;
            width: calc(100%);
            padding: 0 calc(var(--m-size-v2-padding, 10px) * 1.5) !important;
            line-height: 1.4em;
            min-height: calc(var(--m-size-v2-height, 30px));
            box-sizing: border-box;
          }
          > .m-tabs-v2-title.m-tabs-v2-title_action {
            border-radius: var(--m-size-v2-radius, 3px);
          }
        }
      }

      > .icons {
        font-size: 30px;
        transition: var(--m-animation-time, 0.2s);
        border-radius: var(--m-size-v2-radius, 3px);
        &:hover {
          background-color: var(--m-color-v2-border);
          color: var(--m-color-v2-primary);
          cursor: pointer;
        }
      }
    }
    > .m-tabs-v2-scroll {
      width: 1px;
      height: 100%;
      .m-tabs-v2-contents {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
    }
  }

  // .m-tabs-v2-box {
  //   height: 100%;
  //   &::after {
  //     height: 100% !important;
  //     top: 0 !important;
  //     transform: translateY(0) !important;
  //   }
  // }
}
.m-tabs-v2-style_mode-default.m-tabs-v2-mode-portrait,
.m-tabs-v2-style_mode-default.m-tabs-v2-mode-slider {
  > .m-tabs-v2-content {
    > .m-tabs-v2-header {
      > .m-tabs-v2-title-list {
        border-right: 1px solid var(--m-color-v2-border);

        > .m-tabs-v2-box {
          background-color: transparent;
          align-items: flex-start;
          &::after {
            display: none;
          }
          > .m-tabs-v2-title {
            &::before {
              display: none;
            }
          }
          > .m-tabs-v2-title_action {
            &:after {
              position: absolute;
              top: 50%;
              left: 3px;
              height: 70%;
              width: 0 !important;
              display: block;
              content: "";
              transform: translate3d(0%, -50%, 1px);
              animation: title-action var(--m-animation-time, 0.2s);
              animation-fill-mode: forwards;
              border-left: 4px solid var(--m-color-v2-primary);
              border-top: 0;
            }
          }
        }
      }
    }
  }
}

// 滑动布局
.m-tabs-v2-mode-slider {
  .m-tabs-v2-item {
    visibility: visible !important;
  }
}

// .m-tabs-v2-slider {
//   .el-scrollbar__view {
//     height: auto !important;
//   }
//   .tabs-form {
//     height: initial !important;
//   }
// }

// 黏性布局
// .m-tabs-v2-card_sticky {
//   overflow: inherit;
//   .m-tabs-v2-header {
//     position: sticky;
//     top: 0;
//     z-index: 10;
//     background-color: var(--m-color-v2-bg);
//     // border-bottom: 1px solid var(--m-color-v2-scrollbar);
//   }

//   > .m-tabs-v2-content > .m-tabs-v2-scroll {
//     overflow: visible;
//   }
// }

@keyframes title-action {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: calc(100% - 40px);
  }
}
@keyframes title-action2 {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 0;
    height: 50%;
  }
}

.m-tabs-v2-mode-portrait .m-tabs-v2 {
  height: auto;
}

// .m-tabs-v2 .m-tabs-v2 {
//   .m-tabs-v2-item-body {
//     padding-right: 0px !important;
//     padding-left: 0px !important;
//   }
//   .m-tabs-v2-header {
//     margin: 0;
//   }
// }

//   .m-tabs-v2-content {
//     width: calc(100% + 8px);
//     transform: translateX(-8px);
//     .m-tabs-v2-scroll {
//       width: 100% !important;
//     }
//   }
//   .m-tabs-v2-item-body_fix,
//   .m-tabs-v2-item-body {
//     width: calc(100% - 9px) !important;
//     padding-right: 0 !important;
//   }
// }
