.m-form-v2 {
  width: calc(100%);
  overflow-x: hidden;

  .m-form-v2-title_label-icon {
    margin-left: calc(var(--m-component-padding-size, 10px) / 2);
    font-size: calc(var(--m-component-font-size, 13px) + 3px);
    color: var(--m-color-warning);
  }
}

.config-error {
  padding: var(--m-component-padding-size, 10px);
  font-size: var(--m-component-font-size, 13px);
  color: var(--m-color-warning);
  text-align: center;
}

.m-form-v2-tabs {
  padding-top: calc(var(--m-component-padding-size, 10px) / 2);
  .m-form-v2_tabs-title {
    font-size: var(--m-component-font-size, 13px);
  }
  .m-form-v2_tabs-title.deleted {
    color: var(--m-color-danger);
    text-decoration: line-through;
    text-decoration-color: var(--m-color-danger);
  }
  .tabs-form-item.deleted {
    .m-display-v2 {
      color: var(--m-color-danger);
      text-decoration: line-through;
      text-decoration-color: var(--m-color-danger);
    }
  }
  .m-tabs-v2-title_action:has(.m-form-v2_tabs-title_error) {
    background-color: var(--m-color-danger) !important;
  }
  .tab-edit-title-input {
    min-width: 120px;
    transform: scale(0.9);
    & > .m-input-v2 > .m-input-v2-input > .m-input-v2-input-inner {
      text-align: center;
    }
  }

  .remove-hand {
    font-size: calc(var(--m-component-font-size, 13px) + 2px);
    &:hover {
      color: var(--m-color-danger);
      cursor: pointer;
    }
  }

  > .m-tabs-v2-content > .m-tabs-v2-header {
    padding-left: 0;
    padding-right: 0;
  }

  > .m-tabs-v2-content > .m-tabs-v2-scroll > .m-tabs-v2-contents > .m-tabs-v2-item {
    border-radius: 3px;
    border: 1px solid var(--m-border-color);
    box-sizing: border-box;
    padding: calc(var(--m-component-padding-size, 10px) / 2);
  }
}
