node_modules
.vscode
./dist
script/demo.vue
script/index.js
script/index.d.ts
script/package.json
script/README.md
.vitepress/cache/
*/.vitepress/cache/
.vitepress/.temp
docs
.cz-config
.cz-config.*
.cz-config.cjs

.DS_Store

ManagerUI
ManagerMobile
!document/ManagerUI
!document/ManagerMobile

script/vitepress/*
script/vitepress/node_modules/*
!script/cz-customizable/*
*.back-locl

yarn-error.log
stats.html
egg/app/public/*

components.d.ts
dist
