.el-overlay-dialog:has(.m-dialog-class) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-dialog-class:has(.el-tabs) {
  .el-dialog__header {
    margin-bottom: 0;
  }
}

.m-dialog-class {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-height: 95%;
  margin: 0;
  margin-top: var(--m-dialog-class-offset-y);
  margin-left: var(--m-dialog-class-offset-x);
  box-shadow: 0 12px 32px 4px rgb(0 0 0 / 4%), 0 8px 20px rgb(0 0 0 / 8%);
  z-index: 999999;
  .el-dialog {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    margin: 0;
  }
  .el-dialog__body {
    height: 100%;
    padding: 0px;
    overflow-y: hidden;

    .dialog__body {
      overflow-y: hidden;
      padding: 0;
      // height: calc(100% - 20px);
      box-sizing: content-box;
    }
    .dialog__body:has(> .m-table-styles) {
      padding: 0 var(--m-component-padding-size, 10px);
    }

    // .el-scrollbar__bar.is-vertical {
    //   right: 3px !important;
    // }
  }
  // .el-dialog__body:has(.m-tabs) {
  //   .dialog__body {
  //     padding: 0px 0px;
  //     height: calc(100% - 0px);
  //     .m-tabs-card {
  //       margin: 0px var(--m-component-padding-size, 10px) 0;
  //       padding-top: var(--m-component-padding-size, 10px);
  //       height: calc(100% - var(--m-component-padding-size, 10px));
  //     }
  //   }
  // }

  // .el-dialog__body:has(.m-form-tabs) {
  //   .dialog__body {
  //     .m-tabs-card {
  //       padding-top: 0 !important;
  //       height: calc(100% - 0px) !important;
  //     }
  //   }
  // }

  .el-dialog__header {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: calc(var(--m-component-font-size, 13px) + 2px) !important;
    font-weight: bold;
    color: var(--el-text-color-primary);
    border-bottom: 1px solid var(--el-border-color-lighter);
    .title_body {
      padding: calc(var(--m-component-padding-size, 10px)) !important;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: calc(var(--m-component-font-size, 13px) * 1.5);
      font-size: calc(var(--m-component-font-size, 13px) + 1px);
      .is_title_body {
        font-size: calc(var(--m-component-font-size, 13px) + 1px);
      }
      .sub_title_body {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: calc(var(--m-component-font-size, 13px) + 1px);
      }
    }
    .el-dialog__title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 16px;
      transform: translateY(2px);
    }

    .el-dialog__headerbtn {
      // top: var(--m-component-padding-size, 10px);
      // right: var(--m-component-padding-size, 10px);
      // width: 1em;
      // height: 1em;
      position: relative;
      width: calc(calc(var(--m-component-font-size, 13px) * 1.5) + var(--m-component-padding-size, 10px) * 2);
      height: calc(calc(var(--m-component-font-size, 13px) * 1.5) + var(--m-component-padding-size, 10px) * 2);
      background-color: var(--el-color-danger-light-4);
      border-top-right-radius: var(--el-dialog-border-radius);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: calc(var(--m-component-font-size, 13px) + 3px);
      .el-dialog__close {
        color: #fff;
      }
      transition: 0.31s;
      &:hover {
        background-color: var(--el-color-danger);
      }
    }
  }

  .full_icon {
    display: flex !important;
    width: calc(var(--m-component-height-size, 28px) - 9px);
    height: calc(var(--m-component-height-size, 28px) - 9px);
    color: var(--el-color-info-light-3);
    border: 1px solid;
    border-radius: 5px;
    transition: var(--m-component-animation, 0.3s);
    &:hover {
      color: var(--el-color-primary);
    }
  }
  .height100 {
    height: 100%;
    overflow: hidden;
    > .flex-col {
      height: 100%;
      > .no-sticky {
        padding: var(--m-component-padding-size, 10px) 0;
        height: calc(100% - var(--m-component-padding-size, 10px) * 2);
      }
    }
  }
  .el-dialog__footer {
    padding: var(--m-component-padding-size, 10px) !important;
    border-top: 1px solid var(--el-border-color-light);
    text-align: left;
  }

  .el-dialog__headerbtn {
    font-size: calc(var(--m-component-font-size, 13px) * 1.5);
  }
}

// .m-dialog-class_small {
//   .el-dialog__body {
//     .dialog__body {
//       // padding: 0px 10px;
//       // height: calc(100% - 10px);
//       // box-sizing: content-box;
//       --m-scroll-padding: 0;
//     }
//   }
//   .el-dialog__body:has(.m-tabs) {
//     .dialog__body {
//       padding: 0px 0px;
//       height: calc(100% - 0px);
//     }
//   }

//   .el-dialog__footer {
//     padding: 5px 10px !important;
//     font-size: 14px;
//     text-align: left;
//   }
// }

.m-dialog-class_default {
  .el-dialog__body {
    .dialog__body {
      // padding: 0px 0 0 10px;
      // height: calc(100% - 10px);
      // box-sizing: content-box;
      --m-scroll-padding: 0;
    }
  }
  // .el-dialog__body:has(.m-tabs) {
  //   .dialog__body {
  //     padding: 0px 0px;
  //     height: calc(100% - 0px);
  //     .m-tabs-card {
  //       padding-top: 10px;
  //     }
  //   }
  // }
}

// .m-dialog-class_large {
//   .el-dialog__body {
//     .dialog__body {
//       // padding: 0px 0 0 10px;
//       // height: calc(100% - 10px);
//       // box-sizing: content-box;
//       --m-scroll-padding: 0;
//     }
//   }
//   .el-dialog__body:has(.m-tabs) {
//     .dialog__body {
//       padding: 0px 0px;
//       height: calc(100% - 0px);
//     }
//   }

//   .el-dialog__footer {
//     padding: 9px 10px !important;
//     font-size: 18px;
//     text-align: left;
//   }
// }

// .el-overlay {
//   z-index: 2000 !important;
// }
