.m-pagination-v2 {
  display: flex;
  align-items: center;
  color: var(--m-font-color);
  font-size: var(--m-size-v2-font, 13px);

  .m-pagination-total {
    font-size: var(--m-size-v2-font, 13px);
    margin-right: calc(var(--m-size-v2-padding, 10px) / 2);
    > span {
      color: var(--m-color-primary);
      font-weight: bold;
    }
  }

  .m-pagination-sizes {
    margin-right: calc(var(--m-size-v2-padding, 10px) / 2);
  }

  .m-pagination-select {
    padding: 5px 8px;
    border: 1px solid var(--m-border-color);
    border-radius: 3px;
    outline: none;

    &:focus {
      border-color: var(--m-color-primary);
    }
  }

  .m-pagination-btn {
    min-width: calc(var(--m-size-v2-height, 30px) - 4px);
    height: calc(var(--m-size-v2-height, 30px) - 4px);
    padding: 0 4px;
    border: none;
    border-radius: 3px;
    background: transparent;
    color: var(--m-font-color);
    cursor: pointer;
    transition: all 0.3s;
    font-size: var(--m-size-v2-font, 13px);

    &:disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }

    &.is-active {
      font-weight: 500;
      background-color: var(--m-color-primary);
      border-color: var(--m-color-primary);
      color: #fff;
    }
  }
  .m-pagination-btn.m-pagination-next,
  .m-pagination-btn.m-pagination-prev {
    font-size: calc(var(--m-size-v2-font, 13px) + 3px);
  }

  .m-pagination-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    cursor: pointer;
    color: var(--m-font-color);

    &:hover {
      color: var(--m-color-primary);
    }
  }

  .m-pagination-jumper {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: calc(var(--m-size-v2-padding, 10px) / 2);
  }
}
