.m-scrollbar,
.el-table__body-wrapper {
  // .el-scrollbar__view {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  .el-scrollbar__bar.is-horizontal {
    padding: 0;
    bottom: 0 !important;
  }
  .el-scrollbar__bar.is-vertical {
    padding: 0;
    right: 0 !important;
  }
}
.m-scrollbar:has(> .is-horizontal .el-scrollbar__thumb[style*="width"]),
.table_body:has(
    > .el-table
      > .el-table__inner-wrapper
      > .el-table__body-wrapper
      > .el-scrollbar
      > .is-horizontal
      .el-scrollbar__thumb[style*="width"]
  ) {
  padding-bottom: calc(var(--m-component-height-size, 14.1px) / 2) !important;
  box-sizing: border-box;

  > .is-horizontal,
  > .el-table > .el-table__inner-wrapper > .el-table__body-wrapper > .el-scrollbar > .is-horizontal {
    left: 0;
    width: 100%;
    border-radius: 0;
    height: calc(var(--m-component-height-size, 14.1px) / 2) !important;
    padding: 2px;
    background-color: var(--el-border-color-light);
    box-sizing: border-box;
  }
  .el-scrollbar__thumb {
    border-radius: 5px;
  }
}

.m-scrollbar:has(> .is-vertical .el-scrollbar__thumb[style*="height"]),
.table_body:has(
    > .el-table
      > .el-table__inner-wrapper
      > .el-table__body-wrapper
      > .el-scrollbar
      > .is-vertical
      .el-scrollbar__thumb[style*="height"]
  ) {
  // --m-scroll-padding: 10px;
  padding-right: calc(var(--m-component-height-size, 14.1px) / 2) !important;
  box-sizing: border-box;
  // > .el-scrollbar__wrap {
  //   padding-right: 5px;
  // }

  > .is-vertical,
  > .el-table > .el-table__inner-wrapper > .el-table__body-wrapper > .el-scrollbar > .is-vertical {
    top: 0;
    height: 100%;
    width: calc(var(--m-component-height-size, 14.1px) / 2);
    border-radius: 0;
    padding: 2px;
    background-color: var(--el-border-color-light);
    box-sizing: border-box;
  }
  .el-scrollbar__thumb {
    border-radius: 5px;
  }
}
// .m-scrollbar:has(> .is-vertical .el-scrollbar__thumb[style*="height"]) {
//   // padding-right: 24.1px !important;
//   .m-form,
//   .m-table-styles {
//     width: calc(100% - var(--m-component-padding-size, 10px));
//     padding-right: var(--m-component-padding-size, 10px);
//   }
//   .dialog__body {
//     .m-form,
//     .m-table-styles {
//       width: calc(100% - 0px);
//       padding-right: 0px;
//     }
//   }
// }

.m-tab-item-body,
.m-tab-item-body_fix {
  .el-scrollbar__view {
    padding-left: 0 !important;
  }
}

.table_body:has(
    > .el-table
      > .el-table__inner-wrapper
      > .el-table__body-wrapper
      > .el-scrollbar
      > .is-vertical
      .el-scrollbar__thumb[style*="height"]
  ) {
  > .el-table > .el-table__inner-wrapper > .el-table__body-wrapper > .el-scrollbar > .is-vertical {
    &::before {
      content: "";
      position: absolute;
      top: calc(0px - var(--m-table-scroll-y-top, 32px));
      left: 0;
      width: 100%;
      height: var(--m-table-scroll-y-top, 32px);
      z-index: 999;
      background-color: var(--el-border-color-light);
    }
  }
}

.table_body:has(
    > .el-table
      > .el-table__inner-wrapper
      > .el-table__body-wrapper
      > .el-scrollbar
      > .is-vertical
      .el-scrollbar__thumb[style*="height"]
  ) {
  > .el-table > .el-table__inner-wrapper > .el-table__body-wrapper > .el-scrollbar > .is-vertical {
    top: var(--m-table-scroll-y-top, 32px);
    height: calc(100% - var(--m-table-scroll-y-top, 32px));
  }
}

// .el-table__body-wrapper:has(> .el-scrollbar > .is-vertical .el-scrollbar__thumb[style*="height"]) {
//   .is-vertical {
//     top: 32px;
//     height: calc(100% - 32px);
//   }
// }

// .el-table__inner-wrapper:has(> .el-table__body-wrapper > .el-scrollbar > .is-vertical .el-scrollbar__thumb[style*="height"]) {
//   .el-table__header-wrapper {
//     width: calc(100% - 16px);
//   }
// }

.m-hand {
  transition: var(--m-animation-time, 0.2s);
  &:hover {
    color: var(--el-color-primary);
    cursor: pointer;
  }
}

.m-hand-scroll {
  transition: var(--m-component-animation, 0.3s);
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  &:hover {
    color: var(--el-color-primary);
    cursor: ne-resize;
  }
}

.m-loading {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 300px;

  .loading_font {
    position: absolute;
    top: 100px;
    left: calc(50% - 21px);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 42px;
    color: var(--el-color-primary);
    animation: loadings 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.m-loading.m-loading_small {
  height: 120px;
  .loading_font {
    top: 35px;
  }
}

.title-error {
  padding: 0px;
  font-size: 12px;
  text-align: center;
}

.m-form .m-form-content-value {
  word-wrap: break-word;
  word-break: break-all;
  padding: 1px calc(var(--m-component-padding-size, 10px) * 1);
  line-height: var(--m-component-height-size, 28px);
  min-height: var(--m-component-height-size, 28px);
  border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
  background-color: var(--el-disabled-bg-color);
}

.m-form-contrast-value {
  margin-top: 3px;
  position: relative;
  color: var(--el-color-danger);
  font-size: var(--m-component-font-size, 13px) !important;
  line-height: 1.3em;
  padding-right: 25px;
  width: initial !important;
  * {
    padding-top: 0 !important;
    display: inline-block;
    // height: initial !important;
    // min-height: initial !important;
  }
  .m-form-content-value {
    background: none !important;
    display: inline;
  }
  &:has(> .m-media-view-download-file) {
    margin-top: 0px;
  }
  &::before {
    position: absolute;
    right: -5px;
    font-size: 12px;
    transform: scale(0.9);
    display: inline-block;
    content: "（原）";
  }
}
.mo-form-contrast-value_small {
  font-size: 12px;
}
.m-display_style {
  width: 100%;
  font-size: var(--m-component-font-size, 13px);
  word-wrap: break-word;
  word-break: break-all;
  padding: 1px calc(var(--m-component-padding-size, 10px) * 1);
  box-sizing: border-box;
  transition: var(--m-component-animation, 0.3s);
  line-height: var(--el-component-base-size-default);
  min-height: var(--el-component-base-size-default);
  border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
  background-color: var(--el-disabled-bg-color);
}

.m-table-styles .m-display_style {
  background: none !important;
  box-shadow: none !important;
  display: contents;
}

.m-form .m-display_style {
  background-color: var(--el-disabled-bg-color) !important;
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset !important;
}

.el-message-box {
  padding: calc(var(--m-component-padding-size, 10px) * 1.2);
  --m-component-height-ex: var(--m-component-height-size, 28px);
  --m-component-font-ex: var(--m-component-font-size, 13px);
  --m-component-padding-ex: var(--m-component-padding-size, 10px);
  .el-message-box__header {
    .el-message-box__title {
      font-size: calc(var(--m-component-font-size, 13px) * 1.2);
      line-height: 1.2em;
    }
  }
  .el-message-box__content {
    font-size: calc(var(--m-component-font-size, 13px) * 1.1);
    .el-message-box__status {
      font-size: calc(var(--m-component-font-size, 13px) * 1.5);
      margin-right: var(--m-component-padding-size, 10px);
    }
    .el-message-box__container {
      gap: initial;
    }
  }
  .el-message-box__btns {
    --m-component-height-size: var(--m-component-height-ex, 28px);
    --m-component-font-size: var(--m-component-font-ex, 13px);
    --m-component-padding-size: var(--m-component-padding-ex, 10px);
  }
}

.el-button {
  width: max-content;
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  padding: calc(var(--m-component-padding-size, 10) - 5px) calc(var(--m-component-padding-size, 10) + 3px);
  margin: 0 calc(var(--m-component-padding-size, 10) / 2);
  height: auto;
  min-height: var(--m-component-height-size, 28px);
  .btn-icon {
    font-size: var(--m-component-font-size, 13px) !important;
  }
  .mr-btn {
    margin-right: calc(var(--m-component-padding-size, 10) * 0.5);
  }
  .ml-btn {
    margin-left: calc(var(--m-component-padding-size, 10) * 0.5);
  }
}

.m-drawer {
  .el-drawer__header {
    padding: var(--m-component-padding-size, 10px) !important;
    font-size: calc(var(--m-component-font-size, 13px) * 1.2) !important;
    margin-bottom: 0;
    border-bottom: 1px solid var(--el-border-color-lighter) !important;
    .el-drawer__title {
      font-size: calc(var(--m-component-font-size, 13px) * 1.2) !important;
    }
    .el-drawer__close-btn {
      padding: 0px !important;
    }
  }
  .el-drawer__body {
    padding: var(--m-component-padding-size, 10px);
  }
  .el-drawer__footer {
    padding: var(--m-component-padding-size, 10px) !important;
    border-top: 1px solid var(--el-border-color-lighter) !important;
  }
}
.m-drawer:has(.m-scrollbar) {
  .el-drawer__body {
    padding: 0;
    .el-scrollbar__view {
      padding: calc(var(--m-component-padding-size, 10px) * 2);
      box-sizing: border-box;
    }
  }
}

// .m-drawer_small {
//   .el-drawer__header {
//     padding: 5px 10px !important;
//     font-size: 14px !important;
//     .el-drawer__title {
//       font-size: 14px !important;
//     }
//   }
//   .el-drawer__footer {
//     padding: 6px 10px !important;
//   }
//   .el-table__cell {
//     padding: 6px 0 !important;
//     .cell {
//       padding: 0 6px !important;
//     }
//   }
// }
