.m-number-v2 {
  position: relative;
  margin: 0;
  padding: calc(var(--m-size-v2-padding, 10px) / 3) calc(var(--m-size-v2-padding, 10px) / 1.2);
  width: 100%;
  background-color: var(--m-color-v2-bg);
  border-radius: var(--m-size-v2-radius);
  border: 1px solid var(--m-color-v2-border);
  box-sizing: border-box;
  display: flex;
  transition: var(--m-animation-time, 0.2s);
  overflow: hidden;
  &:hover {
    border-color: var(--m-color-v2-primary);
    box-shadow: 0 0 0 2px var(--m-color-v2-primary-light-8);
    .m-number-v2-input .clear-icon {
      display: block;
    }
  }

  &:has(.is-focus) {
    border-color: var(--m-color-v2-primary);
    box-shadow: 0 0 0 2px var(--m-color-v2-primary-light-8);
  }

  .m-number-v2-input {
    cursor: text;
    display: inline-flex;
    flex-grow: 1;
    height: calc(var(--m-size-v2-height, 24px) - var(--m-size-v2-height, 24px) / 4);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;

    .m-number-v2-input-controls {
      position: relative;
      margin-left: calc(var(--m-size-v2-padding, 10px) / 1.2);
      width: 25px;
      height: 100%;
      text-align: center;
      .control-icon {
        border-left: 1px solid var(--m-color-v2-border);
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(50% + var(--m-size-v2-padding, 10px) / 3);
        color: var(--m-color-v2-default);
        font-size: calc(var(--m-size-v2-font, 13px) - 2px);
        background-color: var(--m-color-v2-send-bg);
        transition: background-color 0.3s;
        > .m-iconfont_icon {
          line-height: normal;
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:hover {
          cursor: pointer;
          background-color: var(--m-color-v2-primary-light-8);
        }
      }
      .control-icon.top {
        z-index: 1;
        top: calc(0px - var(--m-size-v2-padding, 10px) / 3);
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -0.5px;
          width: 100%;
          height: 0%;
          border-bottom: 1px solid var(--m-color-v2-border);
        }
      }
      .control-icon.bottom {
        z-index: 0;
        bottom: calc(0px - var(--m-size-v2-padding, 10px) / 3);
      }
    }
    .m-number-v2-input-inner {
      flex: 1;
      width: 1px;
      border: 0;
      outline: 0;
      padding: 0;
      height: 100%;
      font-size: var(--m-size-v2-font, 13px);
      color: var(--m-color-v2-font);
      background: none;
      &::placeholder {
        color: var(--m-color-v2-info-light-4);
      }
    }
    .clear-icon {
      margin-left: var(--m-size-v2-padding, 10px);
      display: none;
      font-size: calc(var(--m-size-v2-font, 13px) + 1px);
      color: var(--m-color-v2-default);
      transition: var(--m-animation-time, 0.2s);

      &:hover {
        color: var(--m-color-v2-danger);
        cursor: pointer;
      }
    }
  }
}
.m-number-v2:has(.m-number-v2-input-controls) {
  padding-right: 0;
}
.m-number-v2.is-disabled {
  background-color: var(--m-color-v2-send-bg);
  &:hover {
    cursor: not-allowed;
    border-color: var(--m-color-v2-border);
    box-shadow: none;
    .clean-box {
      cursor: not-allowed;
      border-color: var(--m-color-v2-border);
    }
  }

  .m-number-v2-input,
  .m-number-v2-input-inner {
    color: var(--m-color-v2-info-light-1);

    &:hover {
      cursor: not-allowed;
    }
  }
}
