.m-file-v2 {
  display: flex;
  flex-direction: column;

  > .flex-center-start {
    > * {
      margin-bottom: 3px;
    }
    > .m-button-v2.m-file-v2_upload-btn {
      &:hover {
        border-color: var(--m-color-v2-primary);
        box-shadow: 0 0 0 2px var(--m-color-v2-primary-light-8);
      }
    }
  }
  .m-file-v2_upload-btn {
    position: relative;
    overflow: hidden;
    flex: 1;

    .m-file-v2_upload-btn_inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 200%;
      opacity: 0;
      margin-left: -100%;
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
  .file-item-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .file-item-box__del-hand {
      font-size: calc(var(--m-size-v2-font) + 2px);
      &:hover {
        color: var(--m-color-v2-danger);
        cursor: pointer;
      }
    }
  }

  .light-text {
    color: var(--m-color-v2-primary);
  }
  .tips-box + .file-item-box {
    margin-top: 3px;
  }
  // .tips-box:has(span) + .file-item-box {
  //   margin-top: 0;
  // }
  .tips-box {
    padding-top: 2px;
    font-size: var(--m-size-v2-font);
    color: var(--m-color-v2-info-light-2);
  }
}
.m-file-v2.is-disabled {
  > .flex-center-start {
    > .m-button-v2 {
      &:hover {
        cursor: not-allowed;
        border-color: var(--m-color-v2-border);
        box-shadow: none;
      }
    }
  }
}
