@font-face {
  font-family: "iconfont"; /* Project id 4228144 */
  src: url('iconfont.woff2?t=1693214949937') format('woff2'),
       url('iconfont.woff?t=1693214949937') format('woff'),
       url('iconfont.ttf?t=1693214949937') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuedengyu:before {
  content: "\e623";
}

.icon-budengyu1:before {
  content: "\e603";
}

.icon-equals:before {
  content: "\ec30";
}

.icon-dayu1:before {
  content: "\e665";
}

.icon-dayudengyu:before {
  content: "\e666";
}

.icon-xiaoyu1:before {
  content: "\e668";
}

.icon-xiaoyudengyu2:before {
  content: "\e669";
}

