@font-face {
  font-family: "iconfont"; /* Project id 4225195 */
  src: url('iconfont.woff2?t=1693214708368') format('woff2'),
       url('iconfont.woff?t=1693214708368') format('woff'),
       url('iconfont.ttf?t=1693214708368') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mp:before {
  content: "\e6c2";
}

.icon-weizhileixing:before {
  content: "\e6c3";
}

.icon-jpg:before {
  content: "\e6c4";
}

.icon-docx:before {
  content: "\e6c6";
}

.icon-PDF:before {
  content: "\e6c7";
}

.icon-mp1:before {
  content: "\e6c8";
}

.icon-txt:before {
  content: "\e6c9";
}

.icon-ppt:before {
  content: "\e6cc";
}

.icon-zip:before {
  content: "\e6cd";
}

.icon-ps:before {
  content: "\e6ce";
}

.icon-xlsx:before {
  content: "\e6cf";
}

.icon-Ai:before {
  content: "\e6d0";
}

.icon-biaoqianguanli:before {
  content: "\e6d1";
}

.icon-Ztubiao:before {
  content: "\e63c";
}

.icon-AItubiao:before {
  content: "\e63d";
}

.icon-AVItubiao:before {
  content: "\e63e";
}

.icon-BMPtubiao:before {
  content: "\e63f";
}

.icon-EPStubiao:before {
  content: "\e640";
}

.icon-EXEtubiao:before {
  content: "\e641";
}

.icon-FLVtubiao:before {
  content: "\e642";
}

.icon-DOCtubiao:before {
  content: "\e643";
}

.icon-GIFtubiao:before {
  content: "\e644";
}

.icon-MOVtubiao:before {
  content: "\e645";
}

.icon-HTMLtubiao:before {
  content: "\e646";
}

.icon-MPtubiao:before {
  content: "\e647";
}

.icon-PDFtubiao:before {
  content: "\e648";
}

.icon-MPtubiao1:before {
  content: "\e649";
}

.icon-PPTtubiao:before {
  content: "\e64a";
}

.icon-PNGtubiao:before {
  content: "\e64b";
}

.icon-PSDtubiao:before {
  content: "\e64c";
}

.icon-RARtubiao:before {
  content: "\e64d";
}

.icon-SVGtubiao:before {
  content: "\e64e";
}

.icon-SWFtubiao:before {
  content: "\e64f";
}

.icon-RPtubiao:before {
  content: "\e650";
}

.icon-TIFtubiao:before {
  content: "\e651";
}

.icon-TXTtubiao:before {
  content: "\e652";
}

.icon-ZIPtubiao:before {
  content: "\e653";
}

.icon-JPGtubiao:before {
  content: "\e654";
}

.icon-WPStubiao:before {
  content: "\e655";
}

.icon-TARtubiao:before {
  content: "\e656";
}

.icon-XSLtubiao:before {
  content: "\e657";
}

.icon-KEYNOTEtubiao:before {
  content: "\e66a";
}

.icon-PSBtubiao:before {
  content: "\e66b";
}

.icon-tongyongtubiao:before {
  content: "\e6c5";
}

.icon-XLStubiao:before {
  content: "\e6ca";
}

.icon-CSVtubiao:before {
  content: "\e6cb";
}

