/* color vars: https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

/* purple brand color: https://coolors.co/palette/dec9e9-dac3e8-d2b7e5-c19ee0-b185db-a06cd5-9163cb-815ac0-7251b5-6247aa */

/* Color Base */
:root {
  --vp-c-purple: #0288d1;
  --vp-c-purple-light: #0288d1;
  --vp-c-purple-lighter: #0288d1;
  --vp-c-purple-dark: #0288d1;
  --vp-c-purple-darker: #0288d1;
  --vp-c-purple-0: #51b19b;
  --vp-c-purple-1: #02c396;
  --vp-c-purple-2: #004d3b;
  --vp-c-purple-3: #003327;

  /* 设置字体颜色 */

  /* --vp-home-hero-name-color: transparent; */

  /* --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff); */

  /* 设置右图像渐变 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #0288d1 50%, #ffffff 50%);
  --vp-home-hero-image-filter: blur(150px);
  --vp-c-brand-1: #0288d1;
  --vp-c-brand-2: #0288d1;
  --vp-c-brand-3: #0288d1;
  --vp-c-default: #b2b2b2;
  --vp-c-brand: var(--vp-c-purple);
  --vp-c-brand-light: var(--vp-c-purple-light);
  --vp-c-brand-lighter: var(--vp-c-purple-lighter);
  --vp-c-brand-dark: var(--vp-c-purple-dark);
  --vp-c-brand-darker: var(--vp-c-purple-darker);
}
.dark {
  --w-e-toolbar-color: #eeeeee;
  --w-e-toolbar-bg-color: #141414;
  --w-e-textarea-bg-color: #141414;
  --w-e-textarea-color: #eeeeee;
}
.jv-container {
  &.jv-light {
    background-color: var(--vp-code-block-bg) !important;
    .jv-key {
      color: var(--vp-c-text-1) !important;
    }
    .jv-object,
    .jv-array {
      color: var(--vp-c-text-1) !important;
    }
  }
  &.boxed {
    border: solid 1px var(--vp-c-divider) !important;
  }
  .jv-button {
    padding: 0 !important;
    padding-top: 10px !important;
    color: var(--pa-color-primary) !important;
    font-family: var(--vp-font-family-base);
    &:hover {
      text-decoration: underline;
    }
  }
}
.VPDoc {
  padding-right: 0 !important;
  padding-left: 0 !important;
  .content-container {
    max-width: 95% !important;
    // padding-top: 65px;
  }
  .aside {
    padding-left: 0;
  }

  .outline-link.active {
    color: var(--pa-color-primary);
    font-weight: bold;
    font-style: italic;
  }
}
.system-copyright {
  padding-bottom: 40px;
  margin-top: 20px;
  color: var(--vp-c-border);
  text-align: center;
}

/* Color Theme */
.VPSidebarItem > .item .link > .text {
  padding: 10px 0 10px 15px;
}
.VPSidebarItem.level-1.is-active > .item .link > .text {
  font-style: italic;
  font-weight: bold;
  color: #ffffff !important;
  background-color: var(--pa-color-primary);
  border-radius: 5px;
}
.VPNavBarTitle.has-sidebar .title {
  border-bottom: 0;
}

::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px; /* 控制滑块的圆角大小 */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* 控制滑块的阴影效果 */
}

.vp_title_label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
  color: var(--vp-c-text-1);
  &::before {
    display: block;
    width: 4px;
    height: 1em;
    margin-right: 8px;
    content: "";
    background-color: var(--pa-color-primary);
  }
}

.medium-zoom-overlay {
  z-index: 9995 !important;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.medium-zoom-image--opened {
  z-index: 9998 !important;
}

.DocSearch-Container {
  z-index: 1200 !important;
  background: none !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
