/* color vars: https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

/* purple brand color: https://coolors.co/palette/dec9e9-dac3e8-d2b7e5-c19ee0-b185db-a06cd5-9163cb-815ac0-7251b5-6247aa */

/* Color Base */
:root {
  --vp-c-purple: #0288d1;
  --vp-c-purple-light: #0288d1;
  --vp-c-purple-lighter: #0288d1;
  --vp-c-purple-dark: #0288d1;
  --vp-c-purple-darker: #0288d1;
  --vp-c-purple-0: #51b19b;
  --vp-c-purple-1: #02c396;
  --vp-c-purple-2: #004d3b;
  --vp-c-purple-3: #003327;

  /* 设置字体颜色 */

  /* --vp-home-hero-name-color: transparent; */

  /* --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff); */

  /* 设置右图像渐变 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #0288d1 50%, #ffffff 50%);
  --vp-home-hero-image-filter: blur(150px);
  --vp-c-brand-1: #0288d1;
  --vp-c-brand-2: #0288d1;
  --vp-c-brand-3: #0288d1;
  --vp-c-default: #b2b2b2;
  --vp-c-brand: var(--vp-c-purple);
  --vp-c-brand-light: var(--vp-c-purple-light);
  --vp-c-brand-lighter: var(--vp-c-purple-lighter);
  --vp-c-brand-dark: var(--vp-c-purple-dark);
  --vp-c-brand-darker: var(--vp-c-purple-darker);
}
.dark {
  --el-text-color-primary: var(--el-color-primary) !important;
  --el-logo-text-color: var(--el-color-primary) !important;
  --el-menu-bg-color: #141414 !important;
  --el-menu-hover-bg-color: #000000 !important;
  --el-menu-active-bg-color: var(--el-color-primary-dark-2) !important;
  --el-menu-text-color: #bdbdc0 !important;
  --el-menu-active-color: var(--el-color-primary-light-8) !important;
  --el-menu-hover-text-color: #ffffff !important;
  --el-menu-horizontal-sub-item-height: 55px !important;
  --w-e-toolbar-color: #eeeeee;
  --w-e-toolbar-bg-color: #141414;
  --w-e-textarea-bg-color: #141414;
  --w-e-textarea-color: #eeeeee;
  --el-text-color-regular: #bdbdc0 !important;
  --el-fill-color-light: #3c3c3c !important;
  --el-bg-color: #282828;
  --el-bg-color-page: #1f1f1f !important;
  --el-box-shadow: 0px 12px 32px 4px rgb(0 0 0 / 36%), 0px 8px 20px rgb(0 0 0 / 72%) !important;
  --el-box-shadow-light: 0px 0px 12px rgb(0 0 0 / 72%) !important;
  --el-box-shadow-lighter: 0px 0px 6px rgb(0 0 0 / 72%) !important;
  --el-box-shadow-dark: 0px 16px 48px 16px rgb(0 0 0 / 72%), 0px 12px 32px #000000, 0px 8px 16px -8px #000000 !important;
  --el-bg-color-overlay: #1d1e1f !important;
  --el-text-color-secondary: #a3a6ad !important;
  --el-text-color-placeholder: #8d9095 !important;
  --el-text-color-disabled: #6c6e72 !important;
  --el-border-color-darker: #636466 !important;
  --el-border-color-dark: #58585b !important;
  --el-border-color: #4c4d4f !important;
  --el-border-color-light: #414243 !important;
  --el-border-color-lighter: #363637 !important;
  --el-border-color-extra-light: #2b2b2c !important;
  --el-fill-color-darker: #424243 !important;
  --el-fill-color-dark: #39393a !important;
  --el-fill-color: #303030 !important;
  --el-fill-color-lighter: #1d1d1d !important;
  --el-fill-color-extra-light: #191919 !important;
  --el-fill-color-blank: transparent !important;
  --el-mask-color: rgb(0 0 0 / 80%) !important;
  --el-mask-color-extra-light: rgb(0 0 0 / 30%) !important;
}
.jv-container {
  &.jv-light {
    background-color: var(--vp-code-block-bg) !important;
    .jv-key {
      color: var(--vp-c-text-1) !important;
    }
    .jv-object,
    .jv-array {
      color: var(--vp-c-text-1) !important;
    }
  }
  &.boxed {
    border: solid 1px var(--vp-c-divider) !important;
  }
  .jv-button {
    padding: 0 !important;
    padding-top: 10px !important;
    color: var(--el-color-primary) !important;
    font-family: var(--vp-font-family-base);
    &:hover {
      text-decoration: underline;
    }
  }
}
.VPDoc {
  padding-right: 0 !important;
  padding-left: 0 !important;
  .content-container {
    max-width: 95% !important;
    // padding-top: 65px;
  }
  .aside {
    padding-left: 0;
  }

  .outline-link.active {
    color: var(--el-color-primary);
    font-weight: bold;
    font-style: italic;
  }
}
.system-copyright {
  padding-bottom: 40px;
  margin-top: 20px;
  color: var(--vp-c-border);
  text-align: center;
}

/* Color Theme */
.VPSidebarItem > .item .link > .text {
  padding: 10px 0 10px 15px;
}
.VPSidebarItem.level-1.is-active > .item .link > .text {
  font-style: italic;
  font-weight: bold;
  color: #ffffff !important;
  background-color: var(--el-color-primary);
  border-radius: 5px;
}
.VPNavBarTitle.has-sidebar .title {
  border-bottom: 0;
}
.VPSidebarItem {
  &.level-0 .text {
    font-size: 16px;
  }
  &.level-0 h2.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    &::before {
      display: block;
      width: 5px;
      height: 1em;
      margin-right: 8px;
      content: "";
      background-color: var(--el-color-primary);
    }
  }
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px; /* 控制滑块的圆角大小 */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* 控制滑块的阴影效果 */
}

.vp_title_label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
  color: var(--vp-c-text-1);
  &::before {
    display: block;
    width: 4px;
    height: 1em;
    margin-right: 8px;
    content: "";
    background-color: var(--el-color-primary);
  }
}
