/* dark/light radial transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

.sa-content {
  .VPNav {
    background-color: var(--sa-color-primary);
    --vp-c-text-1: var(--sa-color-white);
    .VPNavBarMenuLink.active {
      --vp-c-brand-1: var(--sa-color-white);
    }
    .DocSearch-Button {
      background-color: var(--sa-color-white);
      border-radius: calc(var(--sa-size-radius, 3px) + 5px);
    }
  }
}
