.m-button-v2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-size: calc(var(--m-size-v2-font) - 2px) !important;
  border-radius: var(--m-size-v2-radius);
  border: 1px solid;
  // line-height: calc(var(--m-size-v2-height) - var(--m-size-v2-height) / 4);
  padding: calc(var(--m-size-v2-padding) / 3) calc(var(--m-size-v2-padding) / 1.2);
  user-select: none;

  .btn-icon {
    margin-right: calc(var(--m-size-v2-padding) / 2);
  }

  .ml-btn {
    margin-left: calc(var(--m-size-v2-padding) / 2);
    margin-right: 0;
  }

  &:hover {
    transition: var(--m-animation-time, 0.2s);
    cursor: pointer;
  }
}

.m-button-v2 + .m-button-v2 {
  margin-left: calc(var(--m-size-v2-padding) / 2);
  &:last-child {
    margin-right: 0;
  }
}

.m-button-v2.right {
  justify-content: flex-end;
}
.m-button-v2.left {
  justify-content: flex-start;
}

.m-button-v2.disabled {
  background-color: var(--m-color-v2-send-bg) !important;
  border-color: var(--m-color-v2-info-light-7) !important;
  color: var(--m-color-v2-info-light-1) !important;
  cursor: not-allowed;
  &:hover {
    cursor: not-allowed;
    color: var(--m-color-v2-info-light-1) !important;
    border-color: var(--m-color-v2-border);
    box-shadow: none;
  }
}
.m-button-v2.use-line.disabled {
  &:hover {
    cursor: not-allowed;
    color: var(--m-color-v2-info-light-1) !important;
    border-color: var(--m-color-v2-border);
    box-shadow: none;
  }
}

.m-button-v2.use-line {
  background: none !important;
  border: none !important;
  padding: 0;
  line-height: 1em;
  border-radius: 0;
  height: 1.4em;
  &:hover {
    color: var(--m-button-color) !important;
    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--m-button-color);
    }
  }
}
.m-button-v2.use-plain {
  background-color: var(--m-button-color2);
  color: var(--m-button-color);
  border-color: var(--m-button-color3, var(--m-button-color));
  &:hover {
    background-color: var(--m-button-color5, var(--m-button-color));
    color: var(--m-button-color4, var(--m-color-v2-white));
    border-color: var(--m-button-color4, var(--m-button-color));
  }
}
.m-button-v2--primary {
  --m-button-color: var(--m-color-v2-primary);
  --m-button-color2: var(--m-color-v2-primary-light-9);
  background-color: var(--m-color-v2-primary);
  color: var(--m-color-v2-white);
  border-color: var(--m-color-v2-primary);
  &:hover {
    background-color: var(--m-color-v2-primary-light-3);
  }
}
.m-button-v2--warning {
  --m-button-color: var(--m-color-v2-warning);
  --m-button-color2: var(--m-color-v2-warning-light-9);
  background-color: var(--m-color-v2-warning);
  color: var(--m-color-v2-white);
  border-color: var(--m-color-v2-warning);
  &:hover {
    background-color: var(--m-color-v2-warning-light-3);
  }
}
.m-button-v2--danger {
  --m-button-color: var(--m-color-v2-danger);
  --m-button-color2: var(--m-color-v2-danger-light-9);
  background-color: var(--m-color-v2-danger);
  color: var(--m-color-v2-white);
  border-color: var(--m-color-v2-danger);
  &:hover {
    background-color: var(--m-color-v2-danger-light-3);
  }
}
.m-button-v2--info {
  --m-button-color: var(--m-color-v2-info);
  --m-button-color2: var(--m-color-v2-info-light-9);
  background-color: var(--m-color-v2-info);
  color: var(--m-color-v2-white);
  border-color: var(--m-color-v2-info);
  &:hover {
    background-color: var(--m-color-v2-info-light-3);
  }
}
.m-button-v2--success {
  --m-button-color: var(--m-color-v2-success);
  --m-button-color2: var(--m-color-v2-success-light-9);
  background-color: var(--m-color-v2-success);
  color: var(--m-color-v2-white);
  border-color: var(--m-color-v2-success);
  &:hover {
    background-color: var(--m-color-v2-success-light-3);
  }
}
.m-button-v2--default {
  --m-button-color2: var(--m-color-v2-bg);
  --m-button-color: var(--m-color-v2-font);
  --m-button-color5: var(--m-color-v2-bg);
  --m-button-color3: var(--m-color-v2-border);
  --m-button-color4: var(--m-color-v2-primary);
  background-color: var(--m-color-v2-bg);
  color: var(--m-color-v2-font);
  border-color: var(--m-color-v2-border);
  &:hover {
    color: var(--m-color-v2-primary);
    border-color: var(--m-color-v2-primary);
  }
}

.m-button-v2-group {
  display: inline-flex;
  overflow: hidden;
  > .m-button-v2 {
    border: none;
    margin: 0;
    border-radius: 0;
    border: 1px solid var(--m-color-v2-border);
    position: relative;
    &:hover {
      z-index: 1;
    }
  }
  > .m-button-v2 + .m-button-v2 {
    // border-right: none;
    margin-left: -1px;
  }
  > .m-button-v2:first-child {
    border-top-left-radius: var(--m-size-v2-radius);
    border-bottom-left-radius: var(--m-size-v2-radius);
    // border-right: none;
    &::before {
      display: none;
    }
  }
  > .m-button-v2:last-child {
    border-top-right-radius: var(--m-size-v2-radius);
    border-bottom-right-radius: var(--m-size-v2-radius);
    // border-right: 1px solid var(--m-color-v2-border);
    &::after {
      display: none;
    }
  }
}
