@use "../styles/border.scss";

.m-scrollbar-v2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .m-scrollbar-v2-content {
    width: 100%;
    height: 1px;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .m-scrollbar-v2-content_footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scrollbar-body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .scrollbar-body-content {
      min-width: 100%;
    }
    .scrollbar-body-content.padding-top {
      padding-top: var(--m-size-v2-padding-base, 10px);
      height: calc(100% - calc(var(--m-size-v2-padding-base, 10px)));
      min-height: calc(100% - calc(var(--m-size-v2-padding-base, 10px)));
    }
    .scrollbar-body-content.padding-left {
      padding-left: var(--m-size-v2-padding-base, 10px);
      width: calc(100% - calc(var(--m-size-v2-padding-base, 10px)));
      min-width: calc(100% - calc(var(--m-size-v2-padding-base, 10px)));
    }
    .scrollbar-body-content.padding-bottom {
      padding-bottom: var(--m-size-v2-padding-base, 10px);
      height: calc(100% - calc(var(--m-size-v2-padding-base, 10px)));
      min-height: calc(100% - calc(var(--m-size-v2-padding-base, 10px)));
    }
    .scrollbar-body-content.padding-right {
      padding-right: var(--m-size-v2-padding-base, 10px);
      width: calc(100% - calc(var(--m-size-v2-padding-base, 10px)));
      min-width: calc(100% - calc(var(--m-size-v2-padding-base, 10px)));
    }
    .scrollbar-body-content.padding-top.padding-bottom {
      height: calc(100% - calc(var(--m-size-v2-padding-base, 10px)) * 2);
      min-height: calc(100% - calc(var(--m-size-v2-padding-base, 10px)) * 2);
    }
    .scrollbar-body-content.padding-left.padding-right {
      width: calc(100% - calc(var(--m-size-v2-padding-base, 10px)) * 2);
      min-width: calc(100% - calc(var(--m-size-v2-padding-base, 10px)) * 2);
    }
  }
  .scrollbar-body-y {
    overflow-y: scroll;
  }
  .scrollbar-body-x {
    overflow-x: scroll;
    > .scrollbar-body-content {
      width: fit-content;
      min-width: 100%;
    }
  }

  .scrollbar__bar {
    position: absolute;
    background-color: var(--m-scrollbar-color);
    > .scrollbar__thumb {
      border-radius: 4px;
      opacity: 0.5;
      background-color: var(--m-scrollbar-thumb-color);
      &:hover {
        transition: var(--m-animation-time, 0.2s);
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
  .scrollbar__bar.is-vertical {
    top: 0;
    right: 0;
    width: calc(var(--m-size-v2-padding-base, 10px) + 2px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 12;
    background-color: var(--m-border-color);
    > .scrollbar__thumb {
      position: absolute;
      top: 0;
      width: calc(100% - 4px);
      height: 100px;
      transform: translateY(var(--scroll-vertical-thumb, 0px));
    }
  }
  .scrollbar__bar.is-horizontal {
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--m-size-v2-padding-base, 10px) + 2px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 11;
    background-color: var(--m-border-color);
    > .scrollbar__thumb {
      position: absolute;
      left: 0;
      height: calc(100% - 4px);
      width: 100px;
      transform: translateX(var(--scroll-horizontal-thumb, 0px));
    }
  }

  // .m-scrollbar:has(> .is-vertical .el-scrollbar__thumb[style*=height]) > .is-vertical
  .is-scroll-top {
    width: 100%;
    transition: var(--m-animation-time, 0.2s);
    z-index: 999;
    box-shadow: 0px 0 10px 1.5px var(--m-font-color-black);
  }

  .is-scroll-end {
    width: 100%;
    transition: var(--m-animation-time, 0.2s);
    z-index: 999;
    box-shadow: 0px 0 10px 1.5px var(--m-font-color-black);
  }

  .m-scrollbar-v2-back-top {
    position: absolute;
    right: 24px;
    bottom: 40px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: var(--m-color-info-light-3);
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    z-index: 22;
    transition: var(--m-animation-time, 0.2s);
  }
  // .el-scrollbar__bar.is-horizontal {
  //   .el-scrollbar__thumb {
  //     background-color: #c1c1c1;
  //     opacity: 1;
  //     &:active,
  //     &:hover {
  //       background-color: var(--el-color-primary);
  //       opacity: 1;
  //     }
  //   }
  // }
  // .el-scrollbar__bar.is-vertical {
  //   .el-scrollbar__thumb {
  //     background-color: #c1c1c1;
  //     opacity: 1;
  //     &:active,
  //     &:hover {
  //       background-color: var(--el-color-primary);
  //       opacity: 1;
  //     }
  //   }
  // }
}

.m-scrollbar-v2:has(> .scrollbar__bar.is-vertical) {
  padding-right: calc(var(--m-size-v2-padding-base, 10px) + 2px);
}

.m-scrollbar-v2:has(> .scrollbar__bar.is-horizontal) {
  padding-bottom: calc(var(--m-size-v2-padding-base, 10px) + 2px);
}

.m-table-styles {
  .el-scrollbar__view {
    padding: 0 !important;
  }
}

// .m-scrollbar-v2:has(.m-table-styles.use-sticky) {
//   > .el-scrollbar__wrap {
//     > .el-scrollbar__view {
//       > .m-scrollbar-v2-is-scroll-end {
//         display: none;
//       }
//     }
//   }
// }

.m-scrollbar-v2:has(> .el-scrollbar__bar.is-vertical > .el-scrollbar__thumb[style*="translateY(0%)"]) {
  > .el-scrollbar__wrap {
    > .el-scrollbar__view {
      > .is-scroll {
        opacity: 0;
      }
    }
  }
}

.m-position-sticky {
  position: relative;
  .m-table-styles .table_body,
  .m-table-styles .table_body .el-table,
  .dialog__body {
    overflow: visible !important;
  }
  .no-sticky.m-table-styles {
    .table_body {
      overflow: hidden !important;
    }
  }
}

.color-scrollbar {
  --m-border-color: #fff;
  --m-scrollbar-thumb-color: #d2e7e4;
  &:has(> .scrollbar__bar.is-vertical) {
    // padding-right: calc(var(--m-size-v2-padding-base, 10px) - 0px);

    padding-right: 14px;
    width: calc(100% - var(--m-size-v2-padding-base, 10px));
  }

  .scrollbar__bar.is-vertical {
    width: 8px;
    border-radius: 12px;
    box-shadow: 0 0 4px 3px #d2e7e4;
    transform: translate(-3px, -3px) scale(1, 0.65);
    .scrollbar__thumb {
      width: 100%;
      border-radius: 10px;
    }
  }
}
