.sa-display-style {
  width: 100%;
  font-size: var(--sa-size-font);
  word-wrap: break-word;
  word-break: break-all;
  padding: 1px calc(var(--sa-size-padding) * 1);
  box-sizing: border-box;
  transition: var(--sa-animation-time, 0.2s);
  padding: calc(var(--sa-size-padding) / 3) calc(var(--sa-size-padding) / 1.2);
  line-height: calc(var(--sa-size-height) - var(--sa-size-height) / 4);
  border-radius: var(--sa-size-radius);
  border: 1px solid var(--sa-color-border);
  background-color: var(--sa-color-send-bg);
}

.sa-contrast-style {
  margin-top: 2px;
  position: relative;
  color: var(--sa-color-danger);
  font-size: calc(var(--sa-size-font) - 2px) !important;
  line-height: 1.3em;
  padding-right: 25px;
  width: initial !important;
  * {
    padding-top: 0 !important;
    display: inline-block;
    // height: initial !important;
    // min-height: initial !important;
  }
  .m-form-content-value {
    background: none !important;
    display: inline;
  }
  &:has(> .m-media-view-download-file) {
    margin-top: 0px;
  }
  &::before {
    position: absolute;
    right: -5px;
    font-size: 12px;
    transform: scale(0.9);
    display: inline-block;
    content: "（原）";
  }
}

.sa-cell-label {
  padding-right: calc(var(--sa-size-padding, 10px) / 2);
  margin-right: calc(var(--sa-size-padding, 10px) / 2);
  font-size: calc(var(--sa-size-font, 16px) - 1px);
  color: var(--sa-color-font);
  border-right: 1px solid var(--sa-color-border);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
