.m-table-v2 {
  position: relative;
  width: 100%;
  height: var(--scroll-body-height, 100%);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  color: var(--m-font-color);

  .empty {
    opacity: 0;
  }
  .empty-table {
    // position: absolute;
    // left: 50%;
    // top: calc(50% + 10px);
    // transform: translate(-50%, -50%);
    // z-index: 4;
    opacity: 1;
    color: var(--m-font-color);
    font-size: var(--m-component-font-size);
    height: 100px;
    line-height: 100px;
  }

  .table-flex-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .table-flex-ct {
      bottom: 5px;
    }
  }
  .table-flex-ri,
  .table-flex-lf {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 50%;
    color: var(--m-font-color);
    font-size: var(--m-component-font-size);
  }
  .table-flex-ct {
    position: absolute;
    bottom: calc(5px + calc(var(--m-component-padding-size, 10px) / 1.5));
    left: 50%;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-50%);
  }
  .table-flex-lf {
    justify-content: flex-start;
  }

  .table-flex-ri-embedded {
    position: absolute;
    right: 0;
    top: calc(
      0px - var(--m-component-height-size, 24px) + var(--m-component-height-size, 24px) / 4 -
        var(--m-component-padding-size, 10px) / 3 - 5px
    );
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--m-font-color);
    font-size: var(--m-component-font-size);
  }
  .nut-form .nut-cell-group__wrap > .nut-form-item {
    padding-top: 0 !important;
  }

  .nut-input {
    padding: 0;
    border-bottom: 0;
  }
  .m-display-v2 {
    padding: 0;
    background: none !important;
    border: none !important;
  }
}
.m-table-v2.m-table-v2_shirft {
  user-select: none;
}

.m-table-v2.m-table-v2_sticky {
  height: max-content !important;
  .m-table-v2_body_header_box {
    position: sticky;
    padding-top: var(--m-component-padding-size, 10px);
    top: 0;
  }
  .use-sticky-view-in.m-table-v2_footer {
    position: sticky;
    // padding-top: var(--m-component-padding-size, 10px);
    bottom: 0;
    z-index: 10;
    background-color: var(--m-bg-color);
    border-top: 1px solid var(--m-border-color);
  }
  &:has(.use-sticky-view-in.m-table-v2_footer) {
    & > .m-table-v2_body {
      position: initial;
      > .m-scrollbar-v2 {
        position: initial;
        overflow: initial;
        padding-bottom: 0;
        > .scrollbar__bar.is-horizontal {
          position: sticky;
          bottom: calc(var(--m-table-v2-footer-height, 0px) + 1px);
        }
      }
    }
  }
}

.m-table-v2.m-table-v2_scroll_left {
  .sticky-left.last-left-fixed {
    &::before {
      right: -10px;
      bottom: -1px;
      box-shadow: none;
      content: "";
      overflow-x: hidden;
      overflow-y: hidden;
      pointer-events: none;
      position: absolute;
      top: 0;
      touch-action: none;
      width: 10px;
      box-shadow: inset 13px 0 14px -17px var(--m-font-color-black);
    }
  }
}

.m-table-v2.m-table-v2_scroll_right {
  .sticky-right.last-right-fixed {
    &::before {
      left: -10px;
      bottom: -1px;
      box-shadow: none;
      content: "";
      overflow-x: hidden;
      overflow-y: hidden;
      pointer-events: none;
      position: absolute;
      top: 0;
      touch-action: none;
      width: 10px;
      box-shadow: inset -13px 0 14px -17px var(--m-font-color-black);
    }
  }
}

.m-table-v2:has(> .m-table-v2_body > .m-scrollbar-v2 > .is-vertical) {
  > .m-table-v2_body_header_box > .m-table-v2_body_header_scroll {
    padding-right: calc(var(--m-component-padding-base, 10px) + 2px);
  }
}

.m-table-v2_body_header_box {
  z-index: 10;
  background-color: var(--m-bg-color);
  .m-table-v2_body_header_scroll {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid var(--m-border-color);
    border-bottom: 0;
    background-color: var(--m-send-bg-color-lighter);
  }
  .m-table-v2_body_header_scroll_body {
    position: relative;
    font-size: 14px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: sticky;
    top: 0px;
    background-color: var(--m-send-bg-color-lighter);
    width: 100%;

    z-index: 15;

    .m-table-v2_body_header_label {
      position: relative;
      font-size: var(--m-component-font-size, 13px);
      padding: calc(var(--m-component-padding-size, 10px) / 2) var(--m-component-padding-size, 10px);
      flex: 0 0 calc(var(--m-table-item-width) + var(--m-component-padding-size, 10px) * 2);
      // min-width: var(--m-table-item-min-width);
      min-width: calc(var(--m-table-item-width) + var(--m-component-padding-size, 10px) * 2);

      line-height: var(--m-component-height-size, 28px);
      height: calc(var(--m-component-height-size, 28px) + var(--m-component-padding-size, 10px));
      color: var(--m-color-primary);
      font-weight: bold;
      font-size: var(--m-component-font-size, 13px);
      white-space: nowrap;
      text-align: left;
      box-sizing: border-box;
      background-color: var(--m-send-bg-color-lighter);
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border-bottom: 1px solid var(--m-border-color);

      transition: opacity 0.2s;
      &.dragover {
        border: 2px dashed var(--m-color-primary);
        background-color: var(--m-color-default-light-6);
      }

      &:hover {
        .dragover_width {
          display: block;
        }
      }
      .dragover_width {
        position: absolute;
        width: 30px;
        right: -15px;
        z-index: 11;
        font-size: calc(var(--m-component-font-size, 13px) + 18px);
        display: none;
        color: var(--m-font-color);
        &:hover {
          color: var(--m-color-primary);
          cursor: move;
        }
      }
      .dragover_width.dragover {
        display: block;
        color: var(--m-color-primary);
      }
    }

    .m-table-v2_body_header_label_index {
      padding: calc(var(--m-component-padding-size, 10px) / 2);
    }

    .m-table-v2_body_header_label_flex {
      width: 1px !important;
      flex: 1 !important;
      min-width: calc(var(--m-table-item-min-width) + var(--m-component-padding-size, 10px) * 2);
      .cell_header {
        width: 100%;
      }
    }

    .m-table-v2_body_header_select {
      margin-right: 0;
      .nut-checkbox__label {
        display: none;
      }
    }
    .m-table-v2_body_header_label.sticky-left,
    .m-table-v2_body_header_label.sticky-right {
      position: sticky;
      flex: 0 0 var(--m-table-item-width);
      box-sizing: border-box;
      z-index: 15;
      background-color: var(--m-send-bg-color-lighter);

      // &::after {
      //   position: absolute;
      //   top: 0;
      //   right: 0px;
      //   height: 100%;
      //   content: "";
      //   display: block;
      //   border-right: 1px solid var(--m-border-color);
      // }
    }
    .m-table-v2_body_header_label.sticky-left {
      left: calc(var(--m-table-sticky) + var(--m-component-padding-size, 10px) * var(--m-table-sticky-index) * 2);
      width: var(--m-table-item-width);
      flex: 0 0 var(--m-table-item-width, var(--m-table-item-min-width)) !important;
      z-index: 225;
    }
    .m-table-v2_body_header_label.sticky-right {
      right: calc(var(--m-table-sticky) + var(--m-component-padding-size, 10px) * var(--m-table-sticky-index) * 2);
      z-index: 225;
    }
    .sticky-right + .sticky-right {
      &::before {
        display: none;
      }
    }
    // .sticky-right {
    //   &::after {
    //     display: block !important;
    //   }
    // }
    // .m-table-v2_body_header_label + .m-table-v2_body_header_label.sticky-right {
    //   &::after {
    //     display: none;
    //   }
    // }
  }
}
// .m-table-v2_is-scroll_top {
//   position: absolute;
//   bottom: 0px;
//   left: 0;
//   font-size: var(--m-component-font-size, 13px);
//   height: calc(var(--m-component-height-size, 28px) + var(--m-component-padding-size, 10px));
//   width: 100%;
//   transition: 0.3s !important;
//   z-index: 1;
//   box-shadow: 0px 0 10px 1.5px rgba(0, 0, 0, 0.3) !important;
// }

.m-table-v2_body {
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  // overscroll-behavior: none;
  z-index: 5;
  border: 1px solid var(--m-border-color);
  border-top: 0;
  flex: 1;
  width: initial;
  height: 1px;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  // 存在滚动条
  &:has(> .m-scrollbar-v2-content > .scrollbar-body > .scrollbar__bar.is-horizontal) {
    > .m-scrollbar-v2-content > .scrollbar-body > .scrollbar-body-content > .light-is-scroll-end {
      height: calc(var(--m-component-padding-base, 10px) + 2px);
    }

    > .m-scrollbar-v2-content > .scrollbar-body > .scrollbar-body-content > .m-table-v2_body_content {
      min-height: calc(
        var(--scroll-body-height) - var(--m-component-padding-size, 10px) - 2em - var(--m-component-height-size, 14.1px) / 2
      );
    }
  }

  // 存在合计
  &:has(> .m-scrollbar-v2-content > .scrollbar-body > .scrollbar-body-content > .m-table-v2_body_summary) {
    > .m-scrollbar-v2-content > .scrollbar-body > .scrollbar-body-content > .light-is-scroll-end {
      font-size: var(--m-component-font-size, 13px);
      height: calc(var(--m-component-padding-size, 10px) + 2em);
    }

    > .m-scrollbar-v2-content > .scrollbar-body > .scrollbar-body-content > .m-table-v2_body_content {
      min-height: calc(var(--scroll-body-height) - var(--m-component-padding-size, 10px) * 2 - 4em);
    }
  }

  // 存在合集+滚动条
  &:has(> .m-scrollbar-v2-content > .scrollbar-body > .scrollbar__bar.is-horizontal):has(
      > .m-scrollbar-v2-content > .scrollbar-body > .scrollbar-body-content > .m-table-v2_body_summary
    ) {
    > .m-scrollbar-v2-content > .scrollbar-body > .scrollbar-body-content > .light-is-scroll-end {
      font-size: var(--m-component-font-size, 13px);
      height: calc(var(--m-component-padding-size, 10px) + 2em + var(--m-component-height-size, 14.1px) / 2);
    }

    > .m-scrollbar-v2-content > .scrollbar-body > .scrollbar-body-content > .m-table-v2_body_content {
      min-height: calc(
        var(--scroll-body-height) - var(--m-component-padding-size, 10px) * 2 - 4em - var(--m-component-height-size, 14.1px) / 2
      );
    }
  }

  // .light-is-scroll-end {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: calc(100% - var(--m-component-height-size, 14.1px) / 2);
  //   height: 0;
  //   transition: 0.3s !important;
  //   z-index: 10;
  //   box-shadow: 0px 0 10px 1.5px rgba(0, 0, 0, 0.3);
  // }
}
.m-table-v2_body_content {
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  min-height: var(--body-content-height);
  min-width: var(--body-content-width);
  box-sizing: border-box;
  color: var(--m-font-color);
  font-size: var(--m-component-font-size, 13px);

  .m-table-v2_body_content_rows {
    position: relative;
    // border-top: 1px solid var(--m-border-color);
  }
  .table_body_label {
    // overflow: hidden;
    font-size: var(--m-component-font-size, 13px);
    padding: calc(var(--m-component-padding-size, 10px) / 2) var(--m-component-padding-size, 10px);
    flex: 0 0 calc(var(--m-table-item-width) + var(--m-component-padding-size, 10px) * 2);
    // max-width: var(--m-table-item-width);
    min-width: calc(var(--m-table-item-width) + var(--m-component-padding-size, 10px) * 2);
    min-height: calc(var(--m-component-height-size, 28px) + var(--m-component-padding-size, 10px));
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--m-child-bg-color, var(--m-bg-color));
    color: var(--m-font-color);
    transition: 0s;
    word-wrap: break-word; /* 允许在长单词中间换行 */
    word-break: break-all; /* 允许任意位置的单词断开 */
    z-index: 6;
    // 高亮行样式
    &.highlight-row {
      background-color: var(--m-color-primary-light-9) !important;
    }

    // // 高亮列样式
    &.highlight-column {
      background-color: var(--m-color-primary-light-9) !important;
    }

    &:has(.m-table-v2-cell__error) {
      background-color: var(--m-color-warning-light-7) !important;
    }

    // 同时高亮行和列时的样式
    // &.highlight-row.highlight-column {
    //   background-color: var(--m-color-primary-light-2);
    // }

    .table_body_select {
      margin-right: 0;
      .nut-checkbox__label {
        display: none;
      }
    }

    .table_body_label_content {
      width: 100%;

      > .m-table-v2-cell__error {
        margin-top: calc(var(--m-component-padding-size, 10px) / 4);
        color: var(--m-color-danger);
        font-size: calc(var(--m-component-font-size, 13px) - 2px);
        line-height: 1.2em;
      }
    }
  }

  .table_body_label_flex {
    width: 1px !important;
    flex: 1 !important;
    min-width: calc(var(--m-table-item-min-width) + var(--m-component-padding-size, 10px) * 2);
    [class*="find_cell_"] {
      width: 100%;
    }
  }

  .table_body_label_index {
    justify-content: center;
    align-items: center;
    padding: calc(var(--m-component-padding-size, 10px) / 2);
    .table_body_label_content {
      display: flex;
      align-items: center;
    }
  }

  .table_body_label.sticky-left,
  .table_body_label.sticky-right {
    position: sticky;
    top: 0;
    flex: 0 0 var(--m-table-item-width);
    box-sizing: border-box;
    z-index: 7;
    background-color: var(--m-bg-color);
  }
  .table_body_label.sticky-left {
    left: calc(var(--m-table-sticky) + var(--m-component-padding-size, 10px) * var(--m-table-sticky-index) * 2);
    width: var(--m-table-item-width);
    flex: 0 0 var(--m-table-item-width, var(--m-table-item-min-width)) !important;
  }
  .table_body_label.sticky-right {
    right: calc(var(--m-table-sticky) + var(--m-component-padding-size, 10px) * var(--m-table-sticky-index) * 2);
  }
  .sticky-right + .sticky-right {
    &::before {
      display: none;
    }
  }

  .table_body_label.sticky-index {
    justify-content: center;
    align-items: center;
    // border-right: 1px solid var(--m-border-color);
  }

  .m-table-v2_body_content_cell {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    z-index: 1;
    // align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid var(--m-border-color);
    font-size: var(--m-component-font-size, 13px);
  }
  .m-table-v2_body_content_cell.open-child {
    position: sticky;
    top: 0;
    box-shadow: 0px 0 10px 1.5px rgba(0, 0, 0, 0.3);
    // > .children-is-scroll {
    //   position: relative;
    //   width: 100%;
    //   z-index: 10;
    //   box-shadow: 0px 0 10px 1.5px rgba(0, 0, 0, 0.3);
    // }
  }

  .m-scrollbar-more_ing {
    width: 100px;
    position: sticky;
    left: 0;
    top: 0;
  }

  // .m-table-v2_body_content_cell_empty {
  //   width: 100%;
  //   padding: 5px 0;
  //   height: var(--el-component-base-size-default);
  //   background-color: var(--el-bg-color);
  //   color: transparent;
  //   background-image: linear-gradient(45deg, var(--m-bg-color), var(--m-scrollbar-color), var(--m-bg-color));
  //   animation: m-table-v2_body_content_cell_empty_animation 5s linear infinite;
  //   border-bottom: 1px solid var(--m-border-color);
  // }

  .m-table-v2_body_content_cell_empty {
    width: 100%;
    padding: 5px 0;
    height: var(--m-component-height-size);
    background-color: var(--m-bg-color);
    border-bottom: 1px solid var(--m-border-color);
  }

  .m-table-v2_body_content_children_box {
    --m-child-bg-color: var(--m-send-bg-color-lighter);
    background-color: var(--m-send-bg-color-lighter);
    transform: translateZ(1px);

    .table_body_label.sticky-left,
    .table_body_label.sticky-right {
      background-color: var(--m-child-bg-color, var(--m-bg-color));
    }
  }

  .operation_item {
    display: flex;
    > *:last-child {
      margin-right: 0;
    }
  }
}
.m-table-v2_body:has(.m-table-v2_body_summary) {
  .m-table-v2_body_content {
    min-height: calc(var(--body-content-height) - calc(var(--m-component-padding-size, 10px) + 2em));
  }
}
[class*="find_cell_"] {
  width: max-content;
}

.m-table-v2_body_summary {
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: sticky;
  bottom: 0;
  color: var(--m-font-color);
  width: max-content;
  background-color: var(--m-scrollbar-color);
  // box-shadow: 0px 2px 2px 0px var(--m-font-color);
  width: 100%;
  font-size: var(--m-component-font-size, 13px);
  height: calc(var(--m-component-padding-size, 10px) + 2em);
  z-index: 15;

  .m-table-v2_body_summary_label {
    position: relative;
    font-size: var(--m-component-font-size, 13px);
    padding: calc(var(--m-component-padding-size, 10px) / 2) var(--m-component-padding-size, 10px);
    min-width: calc(var(--m-table-item-width) + var(--m-component-padding-size, 10px) * 2);
    line-height: 2em;
    white-space: nowrap;
    flex: 0 0 var(--m-table-item-width);
    text-align: left;
    box-sizing: border-box;
    font-weight: bold;
    // border-top: 0.5px solid var(--m-border-color);
    background-color: var(--m-scrollbar-color);
  }
  .m-table-v2_body_summary_label.sticky-left,
  .m-table-v2_body_summary_label.sticky-right {
    position: sticky;
    flex: 0 0 var(--m-table-item-width);
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
  }

  .m-table-v2_body_summary_label.sticky-left {
    left: calc(var(--m-table-sticky) + var(--m-component-padding-size, 10px) * var(--m-table-sticky-index) * 2);
    width: var(--m-table-item-width);
    flex: 0 0 var(--m-table-item-width, var(--m-table-item-min-width)) !important;
  }
  .m-table-v2_body_summary_label.sticky-right {
    right: calc(var(--m-table-sticky) + var(--m-component-padding-size, 10px) * var(--m-table-sticky-index) * 2);
  }
  .sticky-right + .sticky-right {
    &::before {
      display: none;
    }
  }
  // .sticky-right {
  //   &::after {
  //     display: block !important;
  //   }
  // }
  // .m-table-v2_body_summary_label + .m-table-v2_body_summary_label.sticky-right {
  //   &::after {
  //     display: none;
  //   }
  // }
}
.m-table-v2_body_summary_flex {
  width: 1px !important;
  flex: 1 !important;
  min-width: calc(var(--m-table-item-min-width) + var(--m-component-padding-size, 10px) * 2) !important;
}

.m-table-v2_footer {
  font-size: var(--m-component-font-size, 13px);
  padding: calc(var(--m-component-padding-size, 10px) / 1.5) 0;
  .table-flex-lf {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .bold-text {
    font-weight: bold;
    color: var(--m-color-primary);
  }
}

.can_click {
  background-color: var(--mo-primary-color) !important;
}

.border-top {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    content: "";
    border-top: 1px solid var(--m-border-color);
    transform: scaleY(0.5);
  }
}

.border-bottom {
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    content: "";
    border-top: 1px solid var(--m-border-color);
    transform: scaleY(0.5);
  }
}

.border-right {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: block;
    content: "";
    border-right: 1px solid var(--m-border-color);
    transform: scaleX(0.5);
  }
}

.border-left {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    content: "";
    border-left: 1px solid var(--m-border-color);
    transform: scaleX(0.5);
  }
}

// @keyframes m-table-v2_body_content_cell_empty_animation {
//   from {
//     background-position: 1px 1px;
//   }
//   to {
//     background-position: 2500px 1px;
//   }
// }
