.m-table-v2-query {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: var(--m-component-font-size, 13px);
  margin-bottom: calc(var(--m-component-padding-size, 10px) / 2);

  .table-title-label {
    color: var(--m-font-color);
    font-weight: bold;
  }

  .clean_all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    color: var(--m-color-danger);
    border: 1px solid var(--m-border-color);
    border-radius: 4px;
    &:hover {
      color: #ffffff;
      cursor: pointer;
      background-color: var(--m-color-danger);
      border: 1px solid var(--m-color-danger);
    }
  }

  .query_item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 5px;
    border: 1px solid var(--m-border-color);
    border-radius: 4px;
    .query_item_box {
      padding: 0 2px;
      margin-left: 5px;
      font-size: 12px;
      background-color: var(--m-color-primary-light-9);
      border: 1px solid var(--m-border-color);
      border-radius: 4px;
    }
    .query_item_box2 {
      padding: 2px 5px;
      font-size: 13px;
      background-color: var(--m-color-primary-light-8);
      & > div {
        max-width: 500px;
        height: 1em;
        line-height: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .in_block {
        height: 1em;
        line-height: 1em;
        &:hover {
          font-weight: bold;
          color: var(--m-color-danger);
          cursor: pointer;
        }
      }
    }
    .query_item_text {
      height: 1.6em;
      padding: 0 6px;
      margin-left: 5px;
      background-color: var(--m-color-primary-light-8);
      border: 1px solid var(--m-border-color);
      border-radius: 4px;
      &:first-child {
        margin-left: 0;
      }
    }
    .hand {
      font-size: 16px;
      color: var(--m-color-danger-light-3);
      &:hover {
        font-weight: bold;
        color: var(--m-color-danger);
      }
    }
    .query_item_text_relationship_link {
      font-size: 11px;
      color: var(--m-color-primary);
    }
    .query_item_text_group_link {
      margin-left: 5px;
      font-size: 11px;
      color: var(--m-color-primary-light-1);
    }
  }
}
