.m-message-box-v2__overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--m-overlay-v2-color-lighter);
  transition: var(--m-animation-time, 0.2s);
  z-index: -1;
}
.m-message-box-v2__overlay_mo {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.m-message-box-v2 {
  min-width: 400px;
  box-sizing: border-box;
  border-radius: var(--m-size-v2-radius, 3px);
  border: 1px solid var(--m-color-v2-send-bg);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--m-bg-color);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  transition: all var(--m-animation-time, 0.2s) ease;
  padding: calc(var(--m-component-padding-size, 10px));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  &_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(var(--m-size-v2-font, 13px) + 1px);
    .m-iconfont_icon {
      font-size: calc(var(--m-size-v2-font, 13px) + 4px) !important;
    }
  }

  &--success {
    color: var(--m-color-success);
  }

  &--warning {
    color: var(--m-color-warning);
  }

  &--danger {
    color: var(--m-color-danger);
  }

  &--info {
    color: var(--m-color-info);
  }

  &__title {
    font-size: calc(var(--m-size-v2-font, 13px) + 2px);
    font-weight: 500;
    // color: var(--m-color-v2-font);
    display: flex;
    align-items: center;
  }

  &__content {
    font-size: calc(var(--m-size-v2-font, 13px) + 1px);
    color: var(--m-color-v2-font);
    line-height: 1.4;
    margin: calc(var(--m-size-v2-padding, 10px) / 1.5) 0;
  }

  &__icon {
    font-size: calc(var(--m-size-v2-font, 13px) + 6px);
    margin-right: var(--m-size-v2-padding, 10px);
    flex-shrink: 0;
  }

  &__closeBtn {
    cursor: pointer;
    color: var(--m-color-v2-danger);
    font-size: calc(var(--m-size-v2-font, 13px) + 4px);
    line-height: 1;
    opacity: 0.7;
    .m-iconfont_icon {
      font-size: calc(var(--m-size-v2-font, 13px) + 4px) !important;
    }
    &:hover {
      opacity: 1;
    }
  }
  &__footer {
    width: 100%;
    margin-top: calc(var(--m-size-v2-padding, 10px) / 1.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
