.m-select-v2 {
  position: relative;
  margin: 0;
  background-color: var(--m-color-v2-bg);
  border-radius: var(--m-size-v2-radius);
  border: 1px solid var(--m-color-v2-border);
  min-height: var(--m-size-v2-height, 24px);
  box-sizing: border-box;
  display: flex;
  width: 100%;
  transition: var(--m-animation-time, 0.2s);

  &:hover {
    border-color: var(--m-color-v2-primary);
    box-shadow: 0 0 0 2px var(--m-color-v2-primary-light-8);

    .clean-box {
      border-color: var(--m-color-v2-hover);
    }
    .m-select-v2-input .clear-icon {
      display: block;
    }
    .m-select-v2-input .down-icon {
      display: none;
    }
  }

  &:has(.is-focus) {
    border-color: var(--m-color-v2-primary);
    box-shadow: 0 0 0 2px var(--m-color-v2-primary-light-8);
  }

  .m-select-v2-input {
    position: relative;
    z-index: 20;
    cursor: text;
    display: inline-flex;
    flex-grow: 1;
    height: calc(var(--m-size-v2-height) - var(--m-size-v2-height) / 4);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: var(--m-color-v2-font);

    .m-select-v2-input-inner {
      width: 100%;
      flex: 1;
      border: 0;
      outline: 0;
      padding: 0;
      height: 100%;
      font-size: var(--m-size-v2-font);
      color: var(--m-color-v2-font);
      background: none;
      &::placeholder {
        color: var(--m-color-v2-info-light-4);
      }
    }

    .clear-icon {
      display: none;
      font-size: calc(var(--m-size-v2-font) + 1px);
      color: var(--m-color-v2-default);
      transition: var(--m-animation-time, 0.2s);

      &:hover {
        color: var(--m-color-v2-danger);
        cursor: pointer;
      }
    }

    .down-icon {
      display: block;
      font-size: calc(var(--m-size-v2-font, 13px) + 1px);
      color: var(--m-color-v2-default-light-4);
      transition: var(--m-animation-time, 0.2s);
    }

    .up-icon {
      transform: rotate(180deg);
    }
  }
  .m-tag-v2-collapse {
    flex-wrap: nowrap;
    max-width: 100%;
  }
}
.m-select-v2.is-disabled {
  background-color: var(--m-color-v2-send-bg);
  &:hover {
    cursor: not-allowed;
    border-color: var(--m-color-v2-border);
    box-shadow: none;
    .m-select-v2-input .clear-icon {
      display: none;
    }
    .m-select-v2-input .down-icon {
      display: block;
    }
  }
  .m-tag-v2-collapse {
    flex-wrap: nowrap;
    max-width: calc(100%);
  }
  .m-select-v2-input,
  .m-select-v2-input-inner,
  .m-select-v2-content {
    color: var(--m-color-v2-info-light-1);

    &:hover {
      cursor: not-allowed;
    }
  }
}
.m-select-v2-content {
  width: 100%;
  box-sizing: border-box;
  padding: calc(var(--m-size-v2-padding) / 3) calc(var(--m-size-v2-padding) / 1.2);
}
.m-select-v2 > .m-popover-v2-reference {
  width: 100%;
}

.m-select-v2:has(.m-select-v2-textarea) {
  height: auto;
}

.m-select-v2-options {
  .m-select-v2-option {
    position: relative;
    z-index: 231;
    padding: var(--m-size-v2-padding);
    font-size: var(--m-size-v2-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .check-icon {
      display: none;
    }
    &:hover {
      color: var(--m-color-v2-primary);
      cursor: pointer;
      background-color: var(--m-color-v2-send-bg);
    }
  }
  .m-select-v2-option.is-active {
    font-weight: bold;
    color: var(--m-color-v2-primary);
    .check-icon {
      display: block;
    }
  }
}

.m-select-v2-no-data {
  padding: var(--m-size-v2-padding) 0;
  color: var(--m-color-v2-font);
  font-size: var(--m-size-v2-font);
  text-align: center;
}

.m-popover-v2-content:has(> .m-select-v2-options) {
  padding: 0 !important;
  overflow: hidden;
}
