.m-popover-v2-reference {
  position: relative;
  width: max-content;
  height: max-content;
  z-index: 200;
  &:hover {
    cursor: pointer;
  }
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    z-index: 210;
  }
}
.m-popover-v2-reference.is-click {
  &::before {
    display: none;
  }
}
.m-popover-v2-reference.is-disabled {
  cursor: not-allowed;
}

.m-popover-v2-reference + .m-button-v2,
.m-button-v2 + .m-popover-v2-reference {
  margin: 0 calc(var(--m-button-padding-size, 10px) / 4);
  &:last-child {
    margin-right: 0;
  }
}

.m-popover-v2 {
  position: fixed;
  top: -100%;
  left: -100%;
  z-index: 210;
  border: 1px solid var(--m-border-color);
  border-radius: var(--m-size-v2-radius);
  box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.15);

  .m-popover-v2-arrow {
    position: fixed;
    top: -5px;
    left: 50%;
    height: 10px;
    width: 10px;
    box-sizing: border-box;
    transform: translateX(-50%) rotate(45deg);
    background: var(--m-bg-color);
    border: 1px solid var(--m-border-color);
    z-index: -1;
  }

  .m-popover-v2-content {
    background: var(--m-bg-color);
    box-sizing: border-box;
    color: var(--m-font-color);
    font-size: var(--m-component-font-size);
    padding: calc(var(--m-component-padding-size, 10px) / 1.5);
    overflow-wrap: break-word;
    border-radius: var(--m-size-v2-radius);
    z-index: 220;
    > .m-tag-v2 {
      transform: translateX(0px);
    }
  }
}
