.m-form {
  width: calc(100%);
  overflow-x: hidden;

  .btn-width .el-upload {
    width: 100%;
  }
  .el-form-item__label {
    height: initial;
    line-height: 1.5em;
  }
  .el-form-item__error {
    top: calc(100% + 0px);
    font-size: calc(var(--m-component-font-size, 13px) - 2px);
  }
  .el-form-item {
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: calc(var(--m-component-padding-size, 10px) * 0.5);
    padding: 0;
    transition: var(--m-component-animation, 0.3s);
    .el-form-item__content {
      position: relative;
      width: 100%;
      line-height: initial;
    }
    &.is-required {
      .el-form-item__label {
        height: max-content;
        &::before {
          display: none;
        }
      }
      > * > * > .label_text {
        &::before {
          margin-right: 4px;
          color: var(--el-color-danger);
          content: "*";
        }
      }
    }
  }
  .el-form-item.is-error {
    margin-bottom: calc(var(--m-component-font-size, 13px) + 3px) !important;
  }

  // .el-col {
  //   transform: scale(0.99);
  //   // padding: 1px !important;
  // }

  .el-select,
  .el-input-number,
  .el-cascader {
    width: 100%;
    max-width: 100% !important;
  }
  .el-input-number .el-input__inner {
    text-align: left;
  }
  .el-input__prefix,
  .el-range__icon {
    display: none;
  }
  .el-input__wrapper {
    padding: 1px calc(var(--m-component-padding-size, 10px) * 1) !important;
    font-size: var(--m-component-font-size, 13px);
    box-sizing: border-box;
    .el-input__inner {
      text-align: left;
      height: var(--m-component-height-size, 28px);
      line-height: var(--m-component-height-size, 28px);
    }
  }
  .el-range-editor.el-input__wrapper {
    height: calc(var(--m-component-height-size, 28px) + 2px);
  }

  .form-title_label_icon {
    margin-left: 3px;
    font-size: 16px;
  }
  .el-date-editor.el-input {
    width: 100%;
    height: inherit !important;
  }
  .el-date-editor .el-range-input {
    font-size: var(--m-component-font-size, 13px);
  }
  .el-cascader-node__label {
    width: 200px;
  }
  .el-form-item__label:has(.labelWidth) {
    width: inherit;
  }
  .m-form-display {
    transition: var(--m-component-animation, 0.3s);
    .group-display {
      padding: 0px 9px;
      line-height: var(--el-component-base-size-default);
      min-height: var(--el-component-base-size-default);
      border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
      box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
      background-color: var(--el-disabled-bg-color);
      .el-form-item__content {
        .m-form-content-value {
          padding: 0px 7px !important;
          background-color: var(--el-color-info-light-9);
        }
      }

      .m-form-display {
        padding: 0;
      }
      div,
      section {
        display: inline-block !important;
      }
    }
    .el-form-item__label {
      transform: translateY(0) !important;
    }
    .form-title_label_icon {
      margin-left: 13px;
    }
    .label_text {
      position: relative;
      font-size: calc(var(--m-component-font-size, 13px) + 1px);
      &::after {
        position: absolute;
        top: 0;
        right: -17px;
        display: block;
        content: "ï¼š";
      }
    }
    .el-form-item__content {
      font-size: var(--m-component-font-size, 13px) !important;
      line-height: 1.5em;
    }
  }
  .m-title {
    width: 100%;
    margin: 0;
  }
  .m-title + .el-row {
    margin-top: calc(var(--m-component-padding-size, 10px) - 2px);
  }
}
.m-form.print-mode {
  //
}

// .m-form:has(.is-required.is-error) {
//   .el-form-item.m-form-display {
//     margin-bottom: calc(var(--m-component-font-size, 13px) + 3px) !important;
//   }
// }

// .m-title + .m-form {
//   margin-top: calc(var(--m-component-padding-size, 10px) - 2px);
// }

.m-form_small {
  .el-input--small {
    height: initial !important;
  }
  .el-form-item__content {
    line-height: 1.5em !important;
  }

  .el-tabs__item {
    height: 2.4em !important;
    font-size: 13px !important;
  }
  .tabs-item-title_text {
    font-size: 13px !important;
  }
  .el-tabs__header {
    height: 2.4em !important;
    font-size: 13px !important;

    // height: 30px !important;
    // line-height: 30px !important;
    .el-tabs__item {
      // height: 30px !important;
      // font-size: 13px !important;
      margin-top: 0;
    }
  }
  .add-tab {
    top: 3.5px !important;
  }

  .m-form-display {
    .group-display {
      padding: 0px 7px !important;
    }
  }
}

.m-form_large {
  .m-form-display {
    .group-display {
      padding: 0px 12px !important;
    }
  }
}

.group-item {
  .el-form-item {
    margin-bottom: calc(var(--m-component-padding-size, 10px) * 0.5) !important;
  }
}

.m-form_top-title {
  .el-form-item {
    flex-direction: column;
    padding: var(--m-component-padding-size, 10px) 0 0;
    margin-bottom: 0;
    // margin-bottom: calc(var(--m-component-padding-size, 10px) * 0.5);
    transition: var(--m-component-animation, 0.3s);
    // margin-bottom: 0px !important;
  }
  .el-form-item.is-error {
    margin-bottom: calc(var(--m-component-font-size, 13px) + 3px);
  }
  .el-form-item:has(> .el-form-item__content > .flex-col > .el-radio-group) {
    margin-bottom: calc(var(--m-component-padding-size, 10px) * 0.5) !important;
  }
  .el-form-item__label {
    justify-content: flex-start;
    align-items: flex-start;
    // padding: calc(var(--m-component-padding-size, 10px) - 3px) 12px 0 0;
    padding: 2px 12px 0 0;
    width: max-content !important;
    // .label_text {
    //   color: var(--el-color-primary-dark-2);
    //   // color: var(--el-color-primary);
    // }
  }
}

.m-form_left-title {
  .el-row {
    padding-bottom: 0 !important;
  }
}

.m-form_left-title.title-center {
  .el-form-item {
    padding: 0;
    margin: 0;
    align-items: center;
  }
}

.m-scrollbar {
  .el-scrollbar__view {
    > .dialog__body {
      & > .m-form:last-child {
        padding-bottom: 10px;
      }
    }

    & > .m-form:last-child {
      padding-bottom: 10px;
    }
  }
}
.m-scrollbar:has(> .is-vertical .el-scrollbar__thumb[style*="height"]) {
  .el-scrollbar__view {
    & > .m-form:nth-last-child(3) {
      padding-bottom: 10px;
    }
  }
}
