.m-tabs-default {
  display: flex;
  flex-direction: column;
  height: calc(100% - 0px);
  overflow: hidden;

  .m-tabs-content {
    width: 100%;
    height: 100%;
  }

  .m-tab-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    // z-index: 10;
    position: relative;
    width: calc(100% - var(--tab-header-over-width) - var(--m-component-padding-size, 10px));

    .m-tab-title-list {
      position: relative;
      overflow: hidden;
      .m-tab-box {
        position: relative;
        display: flex;
        align-items: center;
        transition: var(--m-component-animation, 0.3s);
        transform: translateX(var(--tab-header-scroll));
        width: fit-content;
        z-index: 10;
        &::after {
          position: absolute;
          right: 0;
          border-right: 1px solid var(--el-border-color-lighter);
          height: 50%;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: block;
        }
      }

      .m-tab-title {
        position: relative;
        padding: 0 calc(var(--m-component-padding-size, 10px) + 10px);
        font-size: calc(var(--el-font-base-size-default) + 0px);
        line-height: calc(var(--m-component-height-size, 28px) + 4px);
        color: var(--el-text-color-regular);
        white-space: nowrap;
        transition: var(--m-component-animation, 0.3s);
        font-style: normal;

        &::before {
          position: absolute;
          left: 0;
          border-right: 1px solid var(--el-border-color-lighter);
          height: 50%;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: block;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .m-tab-title_action {
        position: relative;
        font-weight: bold;
        // font-style: italic;
        color: var(--el-color-primary);
        // background-color: var(--el-bg-color);

        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          content: "";
          transform: translate3d(-50%, 0px, 1px);
          animation: title-action var(--m-component-animation, 0.3s);
          animation-fill-mode: forwards;
          border-top: 2px solid var(--el-color-primary);
        }
      }

      .m-tab-title_portrait {
        &::before {
          display: none;
        }
      }
      .m-tab-title_portrait.m-tab-title_action {
        &::after {
          position: absolute;
          top: 50%;
          left: 3px;
          display: block;
          height: 50%;
          transform: translate3d(0%, -50%, 1px);
          content: "";
          border-top: none;
          animation: title-action2 var(--m-component-animation, 0.3s);
          animation-fill-mode: forwards;
          border-left: 4px solid var(--el-color-primary);
        }
      }
    }
  }
  > .m-tabs-content {
    > .m-tab-scroll {
      flex: 1;
      width: 100%;
      height: 1px;
      // overflow: hidden;
      .m-tab-contents {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
    }
  }

  .icons {
    font-size: 30px;
    transition: var(--m-component-animation, 0.3s);
    &:hover {
      color: var(--el-color-primary);
      cursor: pointer;
    }
  }
  .left-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 24px;
    margin-left: -5px;
    line-height: 24px;
    color: var(--el-text-color-placeholder);
  }
  .right-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 24px;
    margin-right: -5px;
    line-height: 24px;
    color: var(--el-text-color-placeholder);
  }
}

.m-tabs-default,
.m-tabs-card {
  .m-scrollbar-use-bar-x .m-scrollbar-body {
    width: initial;
  }
  .m-tabs-content {
    .m-tab-contents_slider {
      flex-direction: column !important;
      transform: translateX(0%) !important;
      .tab-item {
        height: 100% !important;
        visibility: visible !important;
        // border-bottom: 1px solid var(--el-border-color-lighter);
      }
      .flex-height-1 {
        visibility: visible !important;
        display: block !important;
        .m-title {
          border-top: 1px solid var(--el-border-color-light);
          padding-top: 0;
          &:first-child {
            display: none;
          }
          .m-title_box {
            &::after {
              display: none;
            }
          }

          .m-title_text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 0;
            padding-top: 10px;
            &::before {
              display: block;
              width: 4px;
              height: 1em;
              margin-right: 8px;
              content: "";
              background-color: var(--el-color-primary);
            }
            &::after {
              display: none;
            }
          }
        }
      }
      .m-scrollbar-body {
        width: initial !important;
      }
    }
  }
}

.m-tabs-card {
  display: flex;
  flex-direction: column;
  height: calc(100% - 0px);
  overflow: hidden;

  .m-tabs-content {
    width: 100%;
    height: 100%;
  }

  .m-tab-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - var(--tab-header-over-width) - var(--m-component-padding-size, 10px));

    // overflow: hidden;
    // z-index: 10;
    position: relative;

    .m-tab-title-list_card {
      position: relative;
      overflow: hidden;

      // background-color: var(--el-border-color-lighter);
      // border: 1px solid var(--el-border-color-lighter);

      // border-bottom: none;
      .m-tab-box {
        position: relative;
        display: flex;
        transition: var(--m-component-animation, 0.3s);
        transform: translateX(var(--tab-header-scroll));
        width: fit-content;
        z-index: 10;
      }

      .m-tab-title_card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: calc(calc(var(--m-component-padding-size, 10px) / 2));
        position: relative;
        padding: 0 calc(var(--m-component-padding-size, 10px) + 10px);
        font-size: var(--m-component-font-size, 13px);
        line-height: calc(var(--m-component-height-size, 28px) + 4px);
        color: var(--el-text-color-regular);
        white-space: nowrap;
        transition: var(--m-component-animation, 0.3s);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: var(--el-border-color-lighter);

        &:hover {
          cursor: pointer;
        }
      }

      .m-tab-title_card_action {
        position: relative;
        font-weight: bold;
        color: var(--el-bg-color);
        background-color: var(--el-color-primary);
        // animation: title-action3 0.36s;
        // animation-fill-mode: forwards;
        background-size: 100%;
      }
    }
    .m-tab-title-list_card:has(.left-icon) {
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        content: "";
        display: block;
        z-index: 15;
        box-shadow: 0px 0 10px 1.5px var(--el-color-black);
      }
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        content: "";
        display: block;
        z-index: 15;
        box-shadow: 0px 0 10px 1.5px var(--el-color-black);
      }
    }
  }

  .m-tab-header_line {
    position: relative;
    &:after {
      position: absolute;
      bottom: -1.7px;
      width: 100%;
      display: block;
      z-index: 99;
      content: "";
      border-bottom: 2px solid var(--el-color-primary);
    }
  }
  > .m-tabs-content {
    > .m-tab-scroll {
      flex: 1;
      width: 100%;
      height: 1px;
      // overflow: hidden;
      .m-tab-contents {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
    }
  }

  .icons {
    font-size: 30px;
    transition: var(--m-component-animation, 0.3s);
    &:hover {
      color: var(--el-color-primary);
      cursor: pointer;
    }
  }
  > .m-tabs-content > .m-tab-header .left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 24px;
    margin-left: -5px;
    line-height: 24px;
    color: var(--el-text-color-placeholder);
  }
  > .m-tabs-content > .m-tab-header .right-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 24px;
    margin-right: -5px;
    line-height: 24px;
    color: var(--el-text-color-placeholder);
  }
}

// 黏性布局
.m-tabs-card_sticky {
  overflow: inherit;
  .m-tab-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--el-bg-color);
    // border-bottom: 1px solid var(--el-border-color-lighter);
  }
  .use-sticky.m-table-styles {
    .el-table__header-wrapper {
      top: calc(var(--m-component-height-size, 28px) + 4px) !important;
    }
    .el-table__inner-wrapper {
      position: initial;
    }
  }
  > .m-tabs-content > .m-tab-scroll {
    overflow: visible;
  }
}
.el-scrollbar__view {
  > .m-tabs-card_sticky {
    height: max-content !important;
    .m-tab-item-body_fix {
      > .m-table-styles:last-child,
      > .m-form:last-child {
        padding-bottom: var(--m-component-padding-size, 10px);
      }
    }
  }
}

.m-tabs-default,
.m-tabs_small {
  .m-tabs {
    width: 100%;
    height: 100%;
  }
  .m-tab-portrait {
    .m-tab-header {
      margin-top: var(--m-component-padding-size, 10px);
      // height: calc(100% - 10px);
    }
    // .m-tab-scroll {
    //   padding-top: 10px;
    //   height: calc(100% - 10px) !important;
    // }
  }
}

.m-tabs.m-tab-portrait {
  > .m-tabs-content {
    > .m-tab-scroll {
      width: 1px;
      height: 100%;
      .m-tab-contents {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
    }
  }

  .m-tab-header {
    height: 100%;
    align-items: flex-start;
    border-bottom: none;
    // border-radius: 5px !important;
    z-index: 10;
    width: initial;
    .m-tab-title-list,
    .m-tab-title-list_card {
      position: relative;
      height: 100%;
      // border-radius: 5px;
    }
    // .m-tab-title-list_card {
    //   background-color: var(--el-border-color-lighter);
    // }
    // .m-tab-title_card {
    //   margin-right: 0 !important;
    //   border-radius: 0 !important;
    // }
  }

  .m-tab-box {
    height: 100%;
    align-items: flex-start !important;
    &::after {
      height: 100% !important;
      top: 0 !important;
      transform: translateY(0) !important;
    }
  }
}

@keyframes title-action {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: calc(100% - 40px);
  }
}
@keyframes title-action2 {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 0;
    height: 50%;
  }
}

.m-tab-portrait .m-tabs {
  height: auto;
}

.m-tab-slider {
  .el-scrollbar__view {
    height: auto !important;
  }
  .tabs-form {
    height: initial !important;
  }
}

.m-tabs .m-tabs {
  .m-tab-item-body {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .m-tab-header {
    margin: 0;
  }
}

.m-scrollbar:has(> .is-vertical .el-scrollbar__thumb[style*="height"]) {
  .el-scrollbar__view {
    & > .m-tabs {
      margin-right: 0;
      height: max-content;
      > .m-tabs-content {
        > .m-tab-header {
          margin-right: var(--m-component-padding-size, 10px);
        }
      }
    }
  }
}
//   .m-tabs-content {
//     width: calc(100% + 8px);
//     transform: translateX(-8px);
//     .m-tab-scroll {
//       width: 100% !important;
//     }
//   }
//   .m-tab-item-body_fix,
//   .m-tab-item-body {
//     width: calc(100% - 9px) !important;
//     padding-right: 0 !important;
//   }
// }
