.pa-form {
  width: calc(100%);
  overflow-x: hidden;

  .pa-form-title_label-icon {
    margin-left: calc(var(--pa-size-padding, 10px) / 2);
    font-size: calc(var(--pa-size-font, 13px) + 3px);
    color: var(--pa-color-warning);
  }

  .click-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--pa-size-font, 16px);
    color: var(--pa-color-font);
    line-height: calc(var(--pa-size-height) - (var(--pa-size-height) / 4));
    width: 100%;
    border-radius: var(--pa-size-radius, 3px);
    border: 1px solid var(--pa-color-border);
    box-sizing: border-box;
    transition: var(--pa-animation-time, 0.2s);
    padding: calc(var(--pa-size-padding, 10px) / 3) calc(var(--pa-size-padding, 10px) / 1.2);
    .click-tag-icon {
      color: var(--pa-color-primary);
    }
    &:hover {
      cursor: pointer;
      color: var(--pa-color-primary);
      border-color: var(--pa-color-primary);
      box-shadow: 0 0 0 2px var(--pa-color-primary-light-8);
    }
  }
}

.config-error {
  padding: var(--pa-size-padding, 10px);
  font-size: var(--pa-size-font, 13px);
  color: var(--pa-color-warning);
  text-align: center;
}

.pa-form-tabs {
  padding-top: calc(var(--pa-size-padding, 10px) / 2);
  .pa-form_tabs-title {
    font-size: var(--pa-size-font, 13px);
  }
  .pa-form_tabs-title.deleted {
    color: var(--pa-color-danger);
    text-decoration: line-through;
    text-decoration-color: var(--pa-color-danger);
  }
  .tabs-form-item.deleted {
    .pa-display-style {
      color: var(--pa-color-danger);
      text-decoration: line-through;
      text-decoration-color: var(--pa-color-danger);
    }
  }
  .pa-tabs-title_action:has(.pa-form_tabs-title_error) {
    background-color: var(--pa-color-danger) !important;
  }
  .tab-edit-title-input {
    min-width: 120px;
    transform: scale(0.9);
    & > .pa-input > .pa-input-input > .pa-input-input-inner {
      text-align: center;
    }
  }

  .remove-hand {
    font-size: calc(var(--pa-size-font, 13px) + 2px);
    &:hover {
      color: var(--pa-color-danger);
      cursor: pointer;
    }
  }

  > .pa-tabs-content > .pa-tabs-header {
    padding-left: 0;
    padding-right: 0;
  }

  > .pa-tabs-content > .pa-tabs-scroll > .pa-tabs-contents > .pa-tabs-item {
    border-radius: 3px;
    border: 1px solid var(--pa-border-color);
    box-sizing: border-box;
    padding: calc(var(--pa-size-padding, 10px) / 2);
  }
}
