.m-border-v2_top {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    content: "";
    border-top: 1px solid var(--m-color-v2-border);
    transform: scaleY(0.5);
  }
}

.m-border-v2_bottom {
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    content: "";
    border-top: 1px solid var(--m-color-v2-border);
    transform: scaleY(0.5);
  }
}

.m-border-v2_right {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: block;
    content: "";
    border-right: 1px solid var(--m-color-v2-border);
    transform: scaleX(0.5);
  }
}

.m-border-v2_left {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    content: "";
    border-left: 1px solid var(--m-color-v2-border);
    transform: scaleX(0.5);
  }
}
