/* flex */
.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

// flex-start
.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-end-start {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

// center
.flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

// flex-end
.flex-start-end {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

// between
.flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-end-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

// col
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* clearfix */
.clearfix::after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: "";
}
.flex-height-1 {
  flex: 1;
  height: 1px;
}
.flex-width-1 {
  flex: 1;
  width: 1px;
}
