%colors-light {
  --el-color-info-light-1: #9b9ea3;
  --m-color-info-light-1: #9b9ea3;
  --m-color-v2-info-light-1: #9b9ea3;
  --el-color-success-light-1: #76c84e;
  --m-color-success-light-1: #76c84e;
  --m-color-v2-success-light-1: #76c84e;
  --el-color-warning-light-1: #e9ab50;
  --m-color-warning-light-1: #e9ab50;
  --m-color-v2-warning-light-1: #e9ab50;
  --el-color-danger-light-1: #f67b7b;
  --m-color-danger-light-1: #f67b7b;
  --m-color-v2-danger-light-1: #f67b7b;
  --el-color-default-light-1: #9b9ea3;
  --m-color-default-light-1: #9b9ea3;
  --m-color-v2-default-light-1: #9b9ea3;
  --el-color-info-light-2: #a6a9ad;
  --m-color-info-light-2: #a6a9ad;
  --m-color-v2-info-light-2: #a6a9ad;
  --el-color-success-light-2: #85ce61;
  --m-color-success-light-2: #85ce61;
  --m-color-v2-success-light-2: #85ce61;
  --el-color-warning-light-2: #ebb563;
  --m-color-warning-light-2: #ebb563;
  --m-color-v2-warning-light-2: #ebb563;
  --el-color-danger-light-2: #f78989;
  --m-color-danger-light-2: #f78989;
  --m-color-v2-danger-light-2: #f78989;
  --el-color-default-light-2: #a6a9ad;
  --m-color-default-light-2: #a6a9ad;
  --m-color-v2-default-light-2: #a6a9ad;
  --el-color-info-light-3: #b1b3b8;
  --m-color-info-light-3: #b1b3b8;
  --m-color-v2-info-light-3: #b1b3b8;
  --el-color-success-light-3: #95d475;
  --m-color-success-light-3: #95d475;
  --m-color-v2-success-light-3: #95d475;
  --el-color-warning-light-3: #eebe77;
  --m-color-warning-light-3: #eebe77;
  --m-color-v2-warning-light-3: #eebe77;
  --el-color-danger-light-3: #f89898;
  --m-color-danger-light-3: #f89898;
  --m-color-v2-danger-light-3: #f89898;
  --el-color-default-light-3: #b1b3b8;
  --m-color-default-light-3: #b1b3b8;
  --m-color-v2-default-light-3: #b1b3b8;
  --el-color-info-light-4: #bcbec2;
  --m-color-info-light-4: #bcbec2;
  --m-color-v2-info-light-4: #bcbec2;
  --el-color-success-light-4: #a4da89;
  --m-color-success-light-4: #a4da89;
  --m-color-v2-success-light-4: #a4da89;
  --el-color-warning-light-4: #f0c78a;
  --m-color-warning-light-4: #f0c78a;
  --m-color-v2-warning-light-4: #f0c78a;
  --el-color-danger-light-4: #f9a7a7;
  --m-color-danger-light-4: #f9a7a7;
  --m-color-v2-danger-light-4: #f9a7a7;
  --el-color-default-light-4: #bcbec2;
  --m-color-default-light-4: #bcbec2;
  --m-color-v2-default-light-4: #bcbec2;
  --el-color-info-light-5: #c8c9cc;
  --m-color-info-light-5: #c8c9cc;
  --m-color-v2-info-light-5: #c8c9cc;
  --el-color-success-light-5: #b3e19d;
  --m-color-success-light-5: #b3e19d;
  --m-color-v2-success-light-5: #b3e19d;
  --el-color-warning-light-5: #f3d19e;
  --m-color-warning-light-5: #f3d19e;
  --m-color-v2-warning-light-5: #f3d19e;
  --el-color-danger-light-5: #fab6b6;
  --m-color-danger-light-5: #fab6b6;
  --m-color-v2-danger-light-5: #fab6b6;
  --el-color-default-light-5: #c8c9cc;
  --m-color-default-light-5: #c8c9cc;
  --m-color-v2-default-light-5: #c8c9cc;
  --el-color-info-light-6: #d3d4d6;
  --m-color-info-light-6: #d3d4d6;
  --m-color-v2-info-light-6: #d3d4d6;
  --el-color-success-light-6: #c2e7b0;
  --m-color-success-light-6: #c2e7b0;
  --m-color-v2-success-light-6: #c2e7b0;
  --el-color-warning-light-6: #f5dab1;
  --m-color-warning-light-6: #f5dab1;
  --m-color-v2-warning-light-6: #f5dab1;
  --el-color-danger-light-6: #fbc4c4;
  --m-color-danger-light-6: #fbc4c4;
  --m-color-v2-danger-light-6: #fbc4c4;
  --el-color-default-light-6: #d3d4d6;
  --m-color-default-light-6: #d3d4d6;
  --m-color-v2-default-light-6: #d3d4d6;
  --el-color-info-light-7: #dedfe0;
  --m-color-info-light-7: #dedfe0;
  --m-color-v2-info-light-7: #dedfe0;
  --el-color-success-light-7: #d1edc4;
  --m-color-success-light-7: #d1edc4;
  --m-color-v2-success-light-7: #d1edc4;
  --el-color-warning-light-7: #f8e3c5;
  --m-color-warning-light-7: #f8e3c5;
  --m-color-v2-warning-light-7: #f8e3c5;
  --el-color-danger-light-7: #fcd3d3;
  --m-color-danger-light-7: #fcd3d3;
  --m-color-v2-danger-light-7: #fcd3d3;
  --el-color-default-light-7: #dedfe0;
  --m-color-default-light-7: #dedfe0;
  --m-color-v2-default-light-7: #dedfe0;
  --el-color-info-light-8: #e9e9eb;
  --m-color-info-light-8: #e9e9eb;
  --m-color-v2-info-light-8: #e9e9eb;
  --el-color-success-light-8: #e1f3d8;
  --m-color-success-light-8: #e1f3d8;
  --m-color-v2-success-light-8: #e1f3d8;
  --el-color-warning-light-8: #faecd8;
  --m-color-warning-light-8: #faecd8;
  --m-color-v2-warning-light-8: #faecd8;
  --el-color-danger-light-8: #fde2e2;
  --m-color-danger-light-8: #fde2e2;
  --m-color-v2-danger-light-8: #fde2e2;
  --el-color-default-light-8: #e9e9eb;
  --m-color-default-light-8: #e9e9eb;
  --m-color-v2-default-light-8: #e9e9eb;
  --el-color-info-light-9: #f4f4f5;
  --m-color-info-light-9: #f4f4f5;
  --m-color-v2-info-light-9: #f4f4f5;
  --el-color-success-light-9: #f0f9eb;
  --m-color-success-light-9: #f0f9eb;
  --m-color-v2-success-light-9: #f0f9eb;
  --el-color-warning-light-9: #fdf6ec;
  --m-color-warning-light-9: #fdf6ec;
  --m-color-v2-warning-light-9: #fdf6ec;
  --el-color-danger-light-9: #fef0f0;
  --m-color-danger-light-9: #fef0f0;
  --m-color-v2-danger-light-9: #fef0f0;
  --el-color-default-light-9: #f4f4f5;
  --m-color-default-light-9: #f4f4f5;
  --m-color-v2-default-light-9: #f4f4f5;
}

%colors-dark {
  --el-color-info-light-1: #84868c;
  --m-color-info-light-1: #84868c;
  --m-color-v2-info-light-1: #84868c;
  --el-color-success-light-1: #5fb136;
  --m-color-success-light-1: #5fb136;
  --m-color-v2-success-light-1: #5fb136;
  --el-color-warning-light-1: #d19438;
  --m-color-warning-light-1: #d19438;
  --m-color-v2-warning-light-1: #d19438;
  --el-color-danger-light-1: #df6363;
  --m-color-danger-light-1: #df6363;
  --m-color-v2-danger-light-1: #df6363;
  --el-color-default-light-1: #029673;
  --m-color-default-light-1: #029673;
  --m-color-v2-default-light-1: #029673;
  --el-color-info-light-2: #777a7f;
  --m-color-info-light-2: #777a7f;
  --m-color-v2-info-light-2: #777a7f;
  --el-color-success-light-2: #579f33;
  --m-color-success-light-2: #579f33;
  --m-color-v2-success-light-2: #579f33;
  --el-color-warning-light-2: #bc8634;
  --m-color-warning-light-2: #bc8634;
  --m-color-v2-warning-light-2: #bc8634;
  --el-color-danger-light-2: #c85b5b;
  --m-color-danger-light-2: #c85b5b;
  --m-color-v2-danger-light-2: #c85b5b;
  --el-color-default-light-2: #048769;
  --m-color-default-light-2: #048769;
  --m-color-v2-default-light-2: #048769;
  --el-color-info-light-3: #6b6d71;
  --m-color-info-light-3: #6b6d71;
  --m-color-v2-info-light-3: #6b6d71;
  --el-color-success-light-3: #4e8e2f;
  --m-color-success-light-3: #4e8e2f;
  --m-color-v2-success-light-3: #4e8e2f;
  --el-color-warning-light-3: #a77830;
  --m-color-warning-light-3: #a77830;
  --m-color-v2-warning-light-3: #a77830;
  --el-color-danger-light-3: #b25252;
  --m-color-danger-light-3: #b25252;
  --m-color-v2-danger-light-3: #b25252;
  --el-color-default-light-3: #06795e;
  --m-color-default-light-3: #06795e;
  --m-color-v2-default-light-3: #06795e;
  --el-color-info-light-4: #5f6064;
  --m-color-info-light-4: #5f6064;
  --m-color-v2-info-light-4: #5f6064;
  --el-color-success-light-4: #467d2b;
  --m-color-success-light-4: #467d2b;
  --m-color-v2-success-light-4: #467d2b;
  --el-color-warning-light-4: #92692c;
  --m-color-warning-light-4: #92692c;
  --m-color-v2-warning-light-4: #92692c;
  --el-color-danger-light-4: #9b4949;
  --m-color-danger-light-4: #9b4949;
  --m-color-v2-danger-light-4: #9b4949;
  --el-color-default-light-4: #086b54;
  --m-color-default-light-4: #086b54;
  --m-color-v2-default-light-4: #086b54;
  --el-color-info-light-5: #525457;
  --m-color-info-light-5: #525457;
  --m-color-v2-info-light-5: #525457;
  --el-color-success-light-5: #3e6b27;
  --m-color-success-light-5: #3e6b27;
  --m-color-v2-success-light-5: #3e6b27;
  --el-color-warning-light-5: #7d5b28;
  --m-color-warning-light-5: #7d5b28;
  --m-color-v2-warning-light-5: #7d5b28;
  --el-color-danger-light-5: #854040;
  --m-color-danger-light-5: #854040;
  --m-color-v2-danger-light-5: #854040;
  --el-color-default-light-5: #0a5c49;
  --m-color-default-light-5: #0a5c49;
  --m-color-v2-default-light-5: #0a5c49;
  --el-color-info-light-6: #46474a;
  --m-color-info-light-6: #46474a;
  --m-color-v2-info-light-6: #46474a;
  --el-color-success-light-6: #365a24;
  --m-color-success-light-6: #365a24;
  --m-color-v2-success-light-6: #365a24;
  --el-color-warning-light-6: #684d24;
  --m-color-warning-light-6: #684d24;
  --m-color-v2-warning-light-6: #684d24;
  --el-color-danger-light-6: #6e3838;
  --m-color-danger-light-6: #6e3838;
  --m-color-v2-danger-light-6: #6e3838;
  --el-color-default-light-6: #0c4e3f;
  --m-color-default-light-6: #0c4e3f;
  --m-color-v2-default-light-6: #0c4e3f;
  --el-color-info-light-7: #3a3a3c;
  --m-color-info-light-7: #3a3a3c;
  --m-color-v2-info-light-7: #3a3a3c;
  --el-color-success-light-7: #2d4920;
  --m-color-success-light-7: #2d4920;
  --m-color-v2-success-light-7: #2d4920;
  --el-color-warning-light-7: #533f20;
  --m-color-warning-light-7: #533f20;
  --m-color-v2-warning-light-7: #533f20;
  --el-color-danger-light-7: #582f2f;
  --m-color-danger-light-7: #582f2f;
  --m-color-v2-danger-light-7: #582f2f;
  --el-color-default-light-7: #0e4034;
  --m-color-default-light-7: #0e4034;
  --m-color-v2-default-light-7: #0e4034;
  --el-color-info-light-8: #2d2e2f;
  --m-color-info-light-8: #2d2e2f;
  --m-color-v2-info-light-8: #2d2e2f;
  --el-color-success-light-8: #25371c;
  --m-color-success-light-8: #25371c;
  --m-color-v2-success-light-8: #25371c;
  --el-color-warning-light-8: #3e311c;
  --m-color-warning-light-8: #3e311c;
  --m-color-v2-warning-light-8: #3e311c;
  --el-color-danger-light-8: #412626;
  --m-color-danger-light-8: #412626;
  --m-color-v2-danger-light-8: #412626;
  --el-color-default-light-8: #10312a;
  --m-color-default-light-8: #10312a;
  --m-color-v2-default-light-8: #10312a;
  --el-color-info-light-9: #212122;
  --m-color-info-light-9: #212122;
  --m-color-v2-info-light-9: #212122;
  --el-color-success-light-9: #1d2618;
  --m-color-success-light-9: #1d2618;
  --m-color-v2-success-light-9: #1d2618;
  --el-color-warning-light-9: #292318;
  --m-color-warning-light-9: #292318;
  --m-color-v2-warning-light-9: #292318;
  --el-color-danger-light-9: #2b1d1d;
  --m-color-danger-light-9: #2b1d1d;
  --m-color-v2-danger-light-9: #2b1d1d;
  --el-color-default-light-9: #12231f;
  --m-color-default-light-9: #12231f;
  --m-color-v2-default-light-9: #12231f;
}

// LIGHT
.m-manager-v2.light {
  @extend %colors-light;

  --m-component-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;

  // V1
  --m-component-font-size: 13px;
  --m-component-height-size: 28px;
  --m-component-padding-size: 10px;

  --m-component-font-base: 13px;
  --m-component-height-base: 28px;
  --m-component-padding-base: 10px;

  // COLOR
  --m-color-info: #909399;
  --m-color-success: #67c23a;
  --m-color-warning: #e6a23c;
  --m-color-danger: #f56c6c;
  --m-color-default: #909399;

  --m-font-color-light: #606266;
  --m-font-color-dark: #bdbdc0;
  --m-font-color-white: #ffffff;
  --m-font-color-black: #000000;

  // LIGHT
  --m-bg-color: #ffffff;
  --m-border-color: #dcdfe6;
  --m-title-color: #212523;
  --m-font-color: #606266;
  --m-scrollbar-color: #e4e7ed;
  --m-scrollbar-thumb-color: #909399;
  --m-overlay-v2-color-lighter: rgba(0, 0, 0, 0.5);
  --m-send-bg-color-lighter: #f5f7fa;
  --m-hover-color-lighter: #c0c4cc;

  // V2
  --m-size-v2-font: 16px;
  --m-size-v2-height: 30px;
  --m-size-v2-padding: 10px;
  --m-size-v2-radius: 3px;

  --m-size-v2-font-base: 16px;
  --m-size-v2-height-base: 30px;
  --m-size-v2-padding-base: 10px;

  --m-size-v2-radius-base: 3px;

  // V2
  --m-color-v2-info: #909399;
  --m-color-v2-success: #67c23a;
  --m-color-v2-warning: #e6a23c;
  --m-color-v2-danger: #f56c6c;
  --m-color-v2-default: #909399;
  --m-color-v2-white: #ffffff;
  --m-color-v2-black: #000000;

  --m-color-v2-font: #1d1d1d;
  --m-color-v2-send-font: #606266;
  --m-color-v2-bg: #ffffff;
  --m-color-v2-cell-bg: #f9f8fd;
  --m-color-v2-send-bg: #f5f7fa;
  --m-color-v2-border: #dcdfe6;
  --m-color-v2-hover: #c0c4cc;
  --m-color-v2-scrollbar: #e4e7ed;
}

// DARK
.m-manager-v2.dark {
  @extend %colors-dark;

  --m-bg-color: #282828;
  --m-border-color: #4c4d4f;
  --m-font-color: #bdbdc0;
  --m-title-color: #bdbdc0;
  --m-scrollbar-color: #414243;
  --m-scrollbar-thumb-color: #a3a6ad;
  --m-overlay-v2-color-lighter: rgba(0, 0, 0, 0.5);
  --m-send-bg-color-lighter: #3c3c3c;
  --m-hover-color-lighter: #6c6e72;

  // V2
  --m-color-v2-font: #bdbdc0;
  --m-color-v2-send-font: #bdbdc0;
  --m-color-v2-bg: #282828;
  --m-color-v2-cell-bg: #f9f8fd;
  --m-color-v2-send-bg: #191919;
  --m-color-v2-border: #4c4d4f;
  --m-color-v2-hover: #6c6e72;
  --m-color-v2-scrollbar: #414243;
}

// LARGE
.m-manager-v2.large {
  --m-component-font-size: 14px;
  --m-component-height-size: 29px;
  --m-component-padding-size: 12px;

  --m-size-v2-font: 18px;
  --m-size-v2-height: 34px;
  --m-size-v2-padding: 12px;
  --m-size-v2-radius: 4px;
}

// SMALL
.m-manager-v2.small {
  --m-component-font-size: 12px;
  --m-component-height-size: 24px;
  --m-component-padding-size: 7px;

  --m-size-v2-font: 14px;
  --m-size-v2-height: 26px;
  --m-size-v2-padding: 8px;
  --m-size-v2-radius: 2px;
}
