.m-radio-v2-item {
  position: relative;
  width: max-content;
  // height: calc(var(--m-size-v2-height) - var(--m-size-v2-height) / 4);
  line-height: calc(var(--m-size-v2-height) - var(--m-size-v2-height) / 4);
  user-select: none;

  .m-radio-v2-item-input-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: var(--m-animation-time, 0.2s);

    &:hover {
      cursor: pointer;
      .m-radio-v2-item-input {
        border-color: var(--m-color-v2-primary);
        cursor: pointer;
      }
      .m-radio-v2-item-label {
        color: var(--m-color-v2-primary);
      }
    }

    .m-radio-v2-item-input {
      margin: 0;
      height: calc(var(--m-size-v2-height) * 0.6);
      width: calc(var(--m-size-v2-height) * 0.6);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-self: center;
      border-radius: 50%;
      border: 1px solid var(--m-color-v2-border);
      background-color: var(--m-color-v2-bg);
      transition: var(--m-animation-time, 0.2s);

      &:hover {
        border-color: var(--m-color-v2-primary);
        box-shadow: 0 0 0 2px var(--m-color-v2-primary-light-8);
        cursor: pointer;
      }

      > .m-radio-v2-item-input-checked {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: var(--m-color-v2-primary);
        transform: scale(0.6, 0.6);
      }
    }
    .m-radio-v2-item-label {
      transition: var(--m-animation-time, 0.2s);
      margin-left: calc(var(--m-size-v2-padding) / 2);
      font-size: calc(var(--m-size-v2-font) - 1px);
    }
  }
}
.m-radio-v2-item.is-checked {
  .m-radio-v2-item-input {
    border-color: var(--m-color-v2-primary);
  }
}
.m-radio-v2-item.is-disabled {
  .m-radio-v2-item-input {
    background-color: var(--m-color-v2-send-bg);
    border-color: var(--m-color-v2-border) !important;

    &:hover {
      cursor: not-allowed;
      border-color: var(--m-color-v2-border);
      box-shadow: none;

      .m-radio-v2-item-label {
        color: var(--m-color-v2-info-light-1);
      }
    }
    .m-radio-v2-item-input-checked {
      background-color: var(--m-color-v2-info-light-1);
    }
  }
  &:hover {
    cursor: not-allowed;
    border-color: var(--m-color-v2-border);
    box-shadow: none;
    .m-radio-v2-item-input .clear-icon {
      display: none;
    }
    .m-radio-v2-item-input .down-icon {
      display: block;
    }
    .m-radio-v2-item-label {
      color: var(--m-color-v2-info-light-1) !important;
    }
  }
  .m-tag-v2-collapse {
    flex-wrap: nowrap;
    max-width: calc(100%);
  }
  .m-radio-v2-item-input,
  .m-radio-v2-item-input-inner,
  .m-radio-v2-item-content {
    color: var(--m-color-v2-info-light-1);
    border-color: var(--m-color-v2-border);

    &:hover {
      border-color: var(--m-color-v2-border);
      cursor: not-allowed;
    }
  }
}

.m-radio-v2 {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid transparent;
  .m-radio-v2-item {
    margin: calc(var(--m-size-v2-padding) / 3) calc(var(--m-size-v2-padding) / 2);
  }
}
