.m-cascader-v2 {
  position: relative;
  margin: 0;
  background-color: var(--m-color-v2-bg);
  border-radius: var(--m-size-v2-radius);
  border: 1px solid var(--m-color-v2-border);
  min-height: var(--m-size-v2-height);
  box-sizing: border-box;
  display: flex;
  width: 100%;
  transition: var(--m-animation-time, 0.2s);

  &:hover {
    border-color: var(--m-color-v2-primary);
    box-shadow: 0 0 0 2px var(--m-color-v2-primary-light-8);
    .clean-box {
      border-color: var(--m-color-v2-primary);
    }
    .m-cascader-v2-input .clear-icon {
      display: block;
    }
    .m-cascader-v2-input .down-icon {
      display: none;
    }
  }

  &:has(.is-focus) {
    border-color: var(--m-color-v2-primary);
    box-shadow: 0 0 0 2px var(--m-color-v2-primary-light-8);
  }

  .m-cascader-v2-input {
    position: relative;
    z-index: 211;
    cursor: text;
    display: inline-flex;
    flex-grow: 1;
    height: calc(var(--m-size-v2-height) - var(--m-size-v2-height) / 4);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    display: flex;

    .m-cascader-v2-input-inner {
      width: 100%;
      flex: 1;
      border: 0;
      outline: 0;
      padding: 0;
      height: 100%;
      font-size: var(--m-size-v2-font);
      color: var(--m-color-v2-font);
      background: none;
      &::placeholder {
        color: var(--m-color-v2-info-light-4);
      }
    }

    .clear-icon {
      display: none;
      font-size: calc(var(--m-size-v2-font) + 1px);
      color: var(--m-color-v2-default);
      transition: var(--m-animation-time, 0.2s);

      &:hover {
        color: var(--m-color-v2-danger);
        cursor: pointer;
      }
    }

    .down-icon {
      display: block;
      font-size: calc(var(--m-size-v2-font) + 1px);
      color: var(--m-color-v2-default-light-4);
      transition: var(--m-animation-time, 0.2s);
    }

    .up-icon {
      transform: rotate(180deg);
    }
  }
  .m-tag-v2-collapse {
    flex-wrap: nowrap;
    max-width: 100%;
  }
}
.m-cascader-v2.is-disabled {
  background-color: var(--m-color-v2-send-bg);
  &:hover {
    cursor: not-allowed;
    border-color: var(--m-color-v2-border);
    box-shadow: none;
    .m-cascader-v2-input .clear-icon {
      display: none;
    }
    .m-cascader-v2-input .down-icon {
      display: block;
    }
  }
  .m-tag-v2-collapse {
    flex-wrap: nowrap;
    max-width: calc(100%);
  }
  .m-cascader-v2-input,
  .m-cascader-v2-input-inner,
  .m-cascader-v2-content {
    color: var(--m-color-v2-info-light-1);

    &:hover {
      cursor: not-allowed;
    }
  }
}
.m-cascader-v2-content {
  width: 100%;
  box-sizing: border-box;
  padding: calc(var(--m-size-v2-padding) / 3) calc(var(--m-size-v2-padding) / 1.2);
}
.m-cascader-v2 > .m-popover-v2-reference {
  width: 100%;
}

.m-cascader-v2:has(.m-cascader-v2-textarea) {
  height: auto;
}

.m-cascader-v2-no-data {
  padding: var(--m-size-v2-padding) 0;
  color: var(--m-color-v2-font);
  font-size: var(--m-size-v2-font);
  text-align: center;
}

.m-popover-v2-content:has(> .m-cascader-v2-options) {
  padding: 0 !important;
  overflow: hidden;
}

.m-cascader-v2-options-group {
  display: flex;
  .m-cascader-v2-option-group-item.m-cascader-v2-option-group-item {
    border-left: 1px solid var(--m-color-v2-border);
  }
  .m-cascader-v2-option-group-item.is-filter {
    width: 100%;
  }
}
.m-cascader-v2-option {
  position: relative;
  padding: var(--m-size-v2-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  font-size: var(--m-size-v2-font);
  box-sizing: border-box;
  .check-icon {
    display: none;
  }
  .arrow-icon {
    font-size: calc(var(--m-size-v2-font) + 2px);
  }
  &:hover {
    color: var(--m-color-v2-primary);
    cursor: pointer;
    background-color: var(--m-color-v2-send-bg);
  }
}
.m-cascader-v2-option.is-filter {
  width: 100%;
}
.m-cascader-v2-option.is-active {
  font-weight: bold;
  color: var(--m-color-v2-primary);
  .check-icon {
    display: block;
  }
}
