.pa-transfer {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .pa-transfer-select-box {
    flex: 1;
    width: 1px;
    border: 1px solid var(--pa-border-color);
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;

    .pa-transfer-select-box_title {
      font-size: var(--pa-size-font, 13px);
      font-weight: bold;
      color: var(--pa-color);
      padding: var(--pa-size-padding, 10px);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: var(--pa-send-bg-color-lighter);

      .pa-checkbox-item {
        height: auto;
        margin-right: calc(var(--pa-size-padding, 10px) / 2);
      }
    }

    .pa-transfer-select-box_options {
      height: 1px;
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: var(--pa-color-bg);
      > .pa-transfer-input-inner {
        margin: calc(var(--pa-size-padding, 10px) / 2) var(--pa-size-padding, 10px);
      }
      .pa-transfer-option {
        .pa-checkbox-item {
          height: auto;
          width: 100%;
          .pa-checkbox-item-input-inner {
            padding: calc(var(--pa-size-padding, 10px) / 2) var(--pa-size-padding, 10px);
            width: calc(100% - 2 * var(--pa-size-padding, 10px));
          }
        }
        &:hover {
          cursor: pointer;
          background-color: var(--pa-send-bg-color-lighter);
        }
      }
    }
  }
  .pa-transfer-transfer {
    display: flex;
    margin: 0 var(--pa-size-padding, 10px);
  }
}

// .pa-transfer.is-disabled {

// }
