// m-col 组件样式
$--m-col-gutter: 24px !default;

.m-col {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  float: left;
  padding-right: calc(#{($--m-col-gutter) / 2});
  padding-left: calc(#{($--m-col-gutter) / 2});
}

// 清除浮动
.m-row::after {
  content: "";
  display: table;
  clear: both;
}

// 基础列宽样式
@for $i from 1 through 24 {
  .m-col-#{$i} {
    flex: 0 0 percentage($i / 24);
    max-width: percentage($i / 24);
  }

  .m-col-offset-#{$i} {
    margin-left: percentage($i / 24);
  }
}

// 响应式断点样式
$--m-breakpoints: (
  "xs": 0,
  "sm": 384px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1920px
);

@each $bp, $width in $--m-breakpoints {
  @media (min-width: $width) {
    @for $i from 1 through 24 {
      .m-col-#{$bp}-#{$i} {
        flex: 0 0 percentage($i / 24);
        max-width: percentage($i / 24);
      }

      .m-col-#{$bp}-offset-#{$i} {
        margin-left: percentage($i / 24);
      }
    }
  }
}

// 列排序
.m-col-order-first {
  order: -1 !important;
}

.m-col-order-last {
  order: 1000 !important;
}

@for $i from 0 through 24 {
  .m-col-order-#{$i} {
    order: $i !important;
  }
}

// 列对齐
.m-col-align-top {
  align-self: flex-start !important;
}

.m-col-align-middle {
  align-self: center !important;
}

.m-col-align-bottom {
  align-self: flex-end !important;
}
