.pa-table {
  position: relative;
  width: 100%;
  height: var(--scroll-body-height, 100%);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  color: var(--pa-color-font);

  .empty {
    opacity: 0;
  }
  .empty-table {
    // position: absolute;
    // left: 50%;
    // top: calc(50% + 10px);
    // transform: translate(-50%, -50%);
    // z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: var(--pa-color-send-font);
    font-size: calc(var(--pa-size-font) + 2px);
    height: 300px;
    line-height: 50px;
  }

  .table-flex-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .table-flex-ct {
      bottom: 5px;
    }
  }
  .table-flex-ri,
  .table-flex-lf {
    margin-bottom: var(--pa-size-padding, 10px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 50%;
    color: var(--pa-color-font);
    font-size: var(--pa-size-font);
  }
  .table-flex-ct {
    position: absolute;
    bottom: calc(5px + calc(var(--pa-size-padding, 10px) / 1.5));
    left: 50%;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-50%);
  }
  .table-flex-lf {
    justify-content: flex-start;
  }

  .table-flex-ri-embedded {
    position: absolute;
    right: 0;
    top: calc(0px - var(--pa-size-height, 24px) + var(--pa-size-height, 24px) / 4 - var(--pa-size-padding, 10px) / 3 - 5px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pa-color-font);
    font-size: var(--pa-size-font);
  }
  .nut-form .nut-cell-group__wrap > .nut-form-item {
    padding-top: 0 !important;
  }

  .nut-input {
    padding: 0;
    border-bottom: 0;
  }
  .pa-display-style {
    padding: 0;
    background: none !important;
    border: none !important;
  }
}
.pa-table.pa-table_shirft {
  user-select: none;
}

.pa-table.pa-table_sticky {
  height: max-content !important;
  .pa-table_body_header_box {
    position: sticky;
    padding-top: var(--pa-size-padding, 10px);
    top: 0;
  }
  .use-sticky-view-in.pa-table_footer {
    position: sticky;
    // padding-top: var(--pa-size-padding, 10px);
    bottom: 0;
    z-index: 10;
    background-color: var(--pa-color-bg);
    border-top: 1px solid var(--pa-color-border);
  }
  &:has(.use-sticky-view-in.pa-table_footer) {
    & > .pa-table_body {
      position: initial;
      > .pa-scrollbar {
        position: initial;
        overflow: initial;
        padding-bottom: 0;
        > .scrollbar__bar.is-horizontal {
          position: sticky;
          bottom: calc(var(--pa-table-footer-height, 0px) + 1px);
        }
      }
    }
  }
}

.pa-table.pa-table_scroll_left {
  .sticky-left.last-left-fixed {
    &::before {
      right: -10px;
      bottom: -1px;
      box-shadow: none;
      content: "";
      overflow-x: hidden;
      overflow-y: hidden;
      pointer-events: none;
      position: absolute;
      top: 0;
      touch-action: none;
      width: 10px;
      box-shadow: inset 13px 0 14px -17px var(--pa-color-black);
    }
  }
}

.pa-table.pa-table_scroll_right {
  .sticky-right.last-right-fixed {
    &::before {
      left: -10px;
      bottom: -1px;
      box-shadow: none;
      content: "";
      overflow-x: hidden;
      overflow-y: hidden;
      pointer-events: none;
      position: absolute;
      top: 0;
      touch-action: none;
      width: 10px;
      box-shadow: inset -13px 0 14px -17px var(--pa-color-black);
    }
  }
}

.pa-table:has(> .pa-table_body > .pa-scrollbar > .is-vertical) {
  > .pa-table_body_header_box {
    position: relative;
    &:after {
      content: "";
      display: block;
      width: calc(var(--pa-size-padding, 10px) + 3px);
      height: calc(var(--pa-size-padding, 10px) + var(--pa-size-height, 28px));
      background-color: var(--pa-color-send-bg);
      position: absolute;
      bottom: 0;
      right: 1px;
      z-index: 100;
      border-top-right-radius: var(--pa-size-radius, 3px);
    }
    > .pa-table_body_header_scroll {
      position: relative;
      padding-right: calc(var(--pa-size-padding, 10px) + 2px);
    }
  }
}

.pa-table_body_header_box {
  z-index: 10;
  background-color: var(--pa-color-bg);
  .pa-table_body_header_scroll {
    border-top-left-radius: var(--pa-size-radius, 3px);
    border-top-right-radius: var(--pa-size-radius, 3px);
    border: 1px solid var(--pa-color-border);
    border-bottom: 0;
    background-color: var(--pa-color-send-bg);
    overflow-x: hidden;
    > .pa-scrollbar > .pa-scrollbar-content > .scrollbar-body > .scrollbar-body-content {
      min-width: 100%;
    }
  }
  .pa-table_body_header_scroll_body {
    position: relative;
    font-size: 14px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: sticky;
    top: 0px;
    background-color: var(--pa-color-send-bg);
    width: 100%;
    z-index: 15;

    > .border-right:last-child {
      &:after {
        display: none;
      }
    }

    .pa-table_body_header_label {
      position: relative;
      font-size: var(--pa-size-font, 16px);
      padding: calc(var(--pa-size-padding, 10px) / 2) var(--pa-size-padding, 10px);
      flex: 0 0 calc(var(--pa-table-item-width) + var(--pa-size-padding, 10px) * 2);
      // min-width: var(--pa-table-item-min-width);
      min-width: calc(var(--pa-table-item-width) + var(--pa-size-padding, 10px) * 2);

      line-height: var(--pa-size-height, 28px);
      height: calc(var(--pa-size-height, 28px) + var(--pa-size-padding, 10px));
      color: var(--pa-color-primary);
      font-weight: bold;
      font-size: var(--pa-size-font, 16px);
      white-space: nowrap;
      text-align: left;
      box-sizing: border-box;
      background-color: var(--pa-color-send-bg);
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border-bottom: 1px solid var(--pa-color-border);

      transition: opacity 0.2s;
      &.dragover {
        border: 2px dashed var(--pa-color-primary);
        background-color: var(--pa-color-default-light-6);
      }

      &:hover {
        .dragover_width {
          display: block;
        }
      }
      .dragover_width {
        position: absolute;
        width: 30px;
        right: -15px;
        z-index: 11;
        font-size: calc(var(--pa-size-font, 16px) + 18px);
        display: none;
        color: var(--pa-color-font);
        &:hover {
          color: var(--pa-color-primary);
          cursor: move;
        }
      }
      .dragover_width.dragover {
        display: block;
        color: var(--pa-color-primary);
      }
    }

    .pa-table_body_header_label_index {
      padding: calc(var(--pa-size-padding, 10px) / 2);
    }

    .pa-table_body_header_label_flex {
      width: 1px !important;
      flex: 1 !important;
      min-width: calc(var(--pa-table-item-min-width) + var(--pa-size-padding, 10px) * 2);
      .cell_header {
        width: 100%;
      }
    }

    .pa-table_body_header_select {
      margin-right: 0;
      .nut-checkbox__label {
        display: none;
      }
    }
    .pa-table_body_header_label.sticky-left,
    .pa-table_body_header_label.sticky-right {
      position: sticky;
      flex: 0 0 var(--pa-table-item-width);
      box-sizing: border-box;
      z-index: 15;
      background-color: var(--pa-color-send-bg);

      // &::after {
      //   position: absolute;
      //   top: 0;
      //   right: 0px;
      //   height: 100%;
      //   content: "";
      //   display: block;
      //   border-right: 1px solid var(--pa-color-border);
      // }
    }
    .pa-table_body_header_label.sticky-left {
      left: calc(var(--pa-table-sticky) + var(--pa-size-padding, 10px) * var(--pa-table-sticky-index) * 2);
      width: var(--pa-table-item-width);
      flex: 0 0 var(--pa-table-item-width, var(--pa-table-item-min-width)) !important;
      z-index: 225;
    }
    .pa-table_body_header_label.sticky-right {
      right: calc(var(--pa-table-sticky) + var(--pa-size-padding, 10px) * var(--pa-table-sticky-index) * 2);
      z-index: 225;
    }
    .sticky-right + .sticky-right {
      &::before {
        display: none;
      }
    }
    // .sticky-right {
    //   &::after {
    //     display: block !important;
    //   }
    // }
    // .pa-table_body_header_label + .pa-table_body_header_label.sticky-right {
    //   &::after {
    //     display: none;
    //   }
    // }
  }
}
// .pa-table_is-scroll_top {
//   position: absolute;
//   bottom: 0px;
//   left: 0;
//   font-size: var(--pa-size-font, 16px);
//   height: calc(var(--pa-size-height, 28px) + var(--pa-size-padding, 10px));
//   width: 100%;
//   transition: 0.3s !important;
//   z-index: 1;
//   box-shadow: 0px 0 10px 1.5px rgba(0, 0, 0, 0.3) !important;
// }

.pa-table_body {
  position: relative;
  border-bottom-left-radius: var(--pa-size-radius, 3px);
  border-bottom-right-radius: var(--pa-size-radius, 3px);
  // overscroll-behavior: none;
  z-index: 5;
  border: 1px solid var(--pa-color-border);
  border-top: 0;
  flex: 1;
  width: initial;
  height: 1px;
  overflow: hidden;

  .pa-table_body_loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--pa-color-primary);
    transition: width 0.8s;
    z-index: 10;
  }
  .pa-table_body_first_loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background-color: rgb(0 0 0 / 0%);
    .loading_font {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      font-size: 42px;
      color: var(--el-color-primary);
      animation: loadings 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  // 存在滚动条
  &:has(> .pa-scrollbar-content > .scrollbar-body > .scrollbar__bar.is-horizontal) {
    > .pa-scrollbar-content > .scrollbar-body > .scrollbar-body-content > .light-is-scroll-end {
      height: calc(var(--pa-size-padding, 10px) + 2px);
    }

    > .pa-scrollbar-content > .scrollbar-body > .scrollbar-body-content > .pa-table_body_content {
      min-height: calc(var(--scroll-body-height) - var(--pa-size-padding, 10px) - 2em - var(--pa-size-height, 14.1px) / 2);
    }
  }

  // 存在合计
  &:has(> .pa-scrollbar-content > .scrollbar-body > .scrollbar-body-content > .pa-table_body_summary) {
    > .pa-scrollbar-content > .scrollbar-body > .scrollbar-body-content > .light-is-scroll-end {
      font-size: var(--pa-size-font, 16px);
      height: calc(var(--pa-size-padding, 10px) + 2em);
    }

    > .pa-scrollbar-content > .scrollbar-body > .scrollbar-body-content > .pa-table_body_content {
      min-height: calc(var(--scroll-body-height) - var(--pa-size-padding, 10px) * 2 - 4em);
    }
  }

  // 存在合集+滚动条
  &:has(> .pa-scrollbar-content > .scrollbar-body > .scrollbar__bar.is-horizontal):has(
      > .pa-scrollbar-content > .scrollbar-body > .scrollbar-body-content > .pa-table_body_summary
    ) {
    > .pa-scrollbar-content > .scrollbar-body > .scrollbar-body-content > .light-is-scroll-end {
      font-size: var(--pa-size-font, 16px);
      height: calc(var(--pa-size-padding, 10px) + 2em + var(--pa-size-height, 14.1px) / 2);
    }

    > .pa-scrollbar-content > .scrollbar-body > .scrollbar-body-content > .pa-table_body_content {
      min-height: calc(
        var(--scroll-body-height) - var(--pa-size-padding, 10px) * 2 - 4em - var(--pa-size-height, 14.1px) / 2
      );
    }
  }

  // .light-is-scroll-end {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: calc(100% - var(--pa-size-height, 14.1px) / 2);
  //   height: 0;
  //   transition: 0.3s !important;
  //   z-index: 10;
  //   box-shadow: 0px 0 10px 1.5px rgba(0, 0, 0, 0.3);
  // }
}
.pa-table_body_content {
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  min-height: var(--body-content-height);
  min-width: var(--body-content-width);
  box-sizing: border-box;
  color: var(--pa-color-font);
  font-size: var(--pa-size-font, 16px);

  .pa-table_body_content_rows {
    position: relative;
    transition: opacity 0.3s !important;
    // border-top: 1px solid var(--pa-color-border);
  }

  .table_body_label {
    // overflow: hidden;
    font-size: var(--pa-size-font, 16px);
    padding: calc(var(--pa-size-padding, 10px) / 2) var(--pa-size-padding, 10px);
    flex: 0 0 calc(var(--pa-table-item-width) + var(--pa-size-padding, 10px) * 2);
    // max-width: var(--pa-table-item-width);
    min-width: calc(var(--pa-table-item-width) + var(--pa-size-padding, 10px) * 2);
    min-height: calc(var(--pa-size-height, 28px) + var(--pa-size-padding, 10px));
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: var(--pa-color-font);
    transition: 0s;
    word-wrap: break-word; /* 允许在长单词中间换行 */
    word-break: break-all; /* 允许任意位置的单词断开 */
    z-index: 6;

    // 保持你的变量计算不变
    --diff: calc(var(--body_content_col_hover_index) - var(--pa-table-item-index));
    --is-equal-6: clamp(0, 1 - abs(var(--diff)), 1);

    // 修正后的背景样式
    background: linear-gradient(to right, var(--pa-color-primary-light-9), var(--pa-color-primary-light-9));
    background-size: 100% calc(var(--is-equal-6) * 100%); // 高度根据条件变化
    background-position: 0 0;
    background-repeat: no-repeat;

    // 高亮行样式
    &.highlight-row {
      background-color: var(--pa-color-primary-light-9) !important;
    }

    // // 高亮列样式
    &.highlight-column {
      background-color: var(--pa-color-primary-light-9) !important;
    }

    &:has(.pa-table-cell__error) {
      background-color: var(--pa-color-warning-light-7) !important;
    }

    // 同时高亮行和列时的样式
    // &.highlight-row.highlight-column {
    //   background-color: var(--pa-color-primary-light-2);
    // }

    .table_body_select {
      margin-right: 0;
      .nut-checkbox__label {
        display: none;
      }
    }

    .table_body_label_content {
      width: 100%;

      > .pa-table-cell__error {
        margin-top: calc(var(--pa-size-padding, 10px) / 4);
        color: var(--pa-color-danger);
        font-size: calc(var(--pa-size-font, 16px) - 2px);
        line-height: 1.2em;
      }
    }
  }

  .table_body_label_flex {
    width: 1px !important;
    flex: 1 !important;
    min-width: calc(var(--pa-table-item-min-width) + var(--pa-size-padding, 10px) * 2);
    [class*="find_cell_"] {
      width: 100%;
    }
  }

  .table_body_label_index {
    justify-content: center;
    align-items: center;
    padding: calc(var(--pa-size-padding, 10px) / 2);
    .table_body_label_content {
      display: flex;
      align-items: center;
    }
  }

  .table_body_label.sticky-left,
  .table_body_label.sticky-right {
    position: sticky;
    top: 0;
    flex: 0 0 var(--pa-table-item-width);
    box-sizing: border-box;
    z-index: 7;
    background-color: var(--pa-color-bg);
  }
  .table_body_label.sticky-left {
    left: calc(var(--pa-table-sticky) + var(--pa-size-padding, 10px) * var(--pa-table-sticky-index) * 2);
    width: var(--pa-table-item-width);
    flex: 0 0 var(--pa-table-item-width, var(--pa-table-item-min-width)) !important;
  }
  .table_body_label.sticky-right {
    right: calc(var(--pa-table-sticky) + var(--pa-size-padding, 10px) * var(--pa-table-sticky-index) * 2);
  }
  .sticky-right + .sticky-right {
    &::before {
      display: none;
    }
  }

  .table_body_label.sticky-index {
    justify-content: center;
    align-items: center;
    // border-right: 1px solid var(--pa-color-border);
  }

  .pa-table_body_content_cell {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    z-index: 1;
    // align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid var(--pa-color-border);
    font-size: var(--pa-size-font, 16px);

    > .border-right:last-child {
      &:after {
        display: none;
      }
    }
  }

  .pa-table_body_content_cell.open-child {
    position: sticky;
    top: 0;
    box-shadow: 0px 0 10px 1.5px rgba(0, 0, 0, 0.3);
    // > .children-is-scroll {
    //   position: relative;
    //   width: 100%;
    //   z-index: 10;
    //   box-shadow: 0px 0 10px 1.5px rgba(0, 0, 0, 0.3);
    // }
  }

  .m-scrollbar-more_ing {
    width: 100px;
    position: sticky;
    left: 0;
    top: 0;
  }

  // .pa-table_body_content_cell_empty {
  //   width: 100%;
  //   padding: 5px 0;
  //   height: var(--el-component-base-size-default);
  //   background-color: var(--el-bg-color);
  //   color: transparent;
  //   background-image: linear-gradient(45deg, var(--pa-color-bg), var(--pa-scrollbar-color), var(--pa-color-bg));
  //   animation: pa-table_body_content_cell_empty_animation 5s linear infinite;
  //   border-bottom: 1px solid var(--pa-color-border);
  // }

  .pa-table_body_content_cell_empty {
    width: 100%;
    padding: 5px 0;
    height: var(--pa-size-height);
    background-color: var(--pa-color-bg);
    border-bottom: 1px solid var(--pa-color-border);
  }

  .pa-table_body_content_children_box {
    --pa-child-bg-color: var(--pa-color-send-bg);
    background-color: var(--pa-color-send-bg);
    transform: translateZ(1px);

    .table_body_label.sticky-left,
    .table_body_label.sticky-right {
      background-color: var(--pa-child-bg-color, var(--pa-color-bg));
    }
  }

  .operation_item {
    display: flex;
    > *:last-child {
      margin-right: 0;
    }
  }
}

.pa-table_body_content.use-hover {
  .pa-table_body_content_cell {
    &:hover {
      .table_body_label {
        background-color: var(--pa-color-primary-light-9) !important;
      }
    }
  }
}
.pa-table_body:has(.pa-table_body_summary) {
  .pa-table_body_content {
    min-height: calc(var(--body-content-height) - calc(var(--pa-size-padding, 10px) + 2em));
  }
}
[class*="find_cell_"] {
  width: max-content;
}

.pa-table_body_summary {
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: sticky;
  bottom: 0;
  color: var(--pa-color-font);
  width: max-content;
  background-color: var(--pa-scrollbar-color);
  // box-shadow: 0px 2px 2px 0px var(--pa-color-font);
  width: 100%;
  font-size: var(--pa-size-font, 16px);
  height: calc(var(--pa-size-padding, 10px) + 2em);
  z-index: 15;

  .pa-table_body_summary_label {
    position: relative;
    font-size: var(--pa-size-font, 16px);
    padding: calc(var(--pa-size-padding, 10px) / 2) var(--pa-size-padding, 10px);
    min-width: calc(var(--pa-table-item-width) + var(--pa-size-padding, 10px) * 2);
    line-height: 2em;
    white-space: nowrap;
    flex: 0 0 var(--pa-table-item-width);
    text-align: left;
    box-sizing: border-box;
    font-weight: bold;
    // border-top: 0.5px solid var(--pa-color-border);
    background-color: var(--pa-scrollbar-color);
  }
  .pa-table_body_summary_label.sticky-left,
  .pa-table_body_summary_label.sticky-right {
    position: sticky;
    flex: 0 0 var(--pa-table-item-width);
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
  }

  .pa-table_body_summary_label.sticky-left {
    left: calc(var(--pa-table-sticky) + var(--pa-size-padding, 10px) * var(--pa-table-sticky-index) * 2);
    width: var(--pa-table-item-width);
    flex: 0 0 var(--pa-table-item-width, var(--pa-table-item-min-width)) !important;
  }
  .pa-table_body_summary_label.sticky-right {
    right: calc(var(--pa-table-sticky) + var(--pa-size-padding, 10px) * var(--pa-table-sticky-index) * 2);
  }
  .sticky-right + .sticky-right {
    &::before {
      display: none;
    }
  }
  // .sticky-right {
  //   &::after {
  //     display: block !important;
  //   }
  // }
  // .pa-table_body_summary_label + .pa-table_body_summary_label.sticky-right {
  //   &::after {
  //     display: none;
  //   }
  // }
}
.pa-table_body_summary_flex {
  width: 1px !important;
  flex: 1 !important;
  min-width: calc(var(--pa-table-item-min-width) + var(--pa-size-padding, 10px) * 2) !important;
}

.pa-table_footer {
  font-size: var(--pa-size-font, 16px);
  padding: var(--pa-size-padding, 10px) 0 0;
  .table-flex-lf {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .bold-text {
    font-weight: bold;
    color: var(--pa-color-primary);
  }
}

.can_click {
  background-color: var(--mo-primary-color) !important;
}

.border-top {
  position: relative;
  border-top: 1px solid var(--pa-color-border);
  // &::before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   display: block;
  //   content: "";
  //   border-top: 1px solid var(--pa-color-border);
  //   transform: scaleY(0.5);
  // }
}

.border-bottom {
  position: relative;
  border-bottom: 1px solid var(--pa-color-border);
  // &::before {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;
  //   display: block;
  //   content: "";
  //   border-top: 1px solid var(--pa-color-border);
  //   transform: scaleY(0.5);
  // }
}

.border-right {
  position: relative;
  border-right: 1px solid var(--pa-color-border);
  // &::after {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   height: 100%;
  //   display: block;
  //   content: "";
  //   border-right: 1px solid var(--pa-color-border);
  //   transform: scaleX(0.5);
  // }
}

.border-left {
  position: relative;
  border-left: 1px solid var(--pa-color-border);
  // &::after {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   display: block;
  //   content: "";
  //   border-left: 1px solid var(--pa-color-border);
  //   transform: scaleX(0.5);
  // }
}

// @keyframes pa-table_body_content_cell_empty_animation {
//   from {
//     background-position: 1px 1px;
//   }
//   to {
//     background-position: 2500px 1px;
//   }
// }
