.m-switch-v2 {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: calc(var(--m-size-v2-padding, 10px) / 3) 0;
  border: 1px solid transparent;
  user-select: none;

  &:hover {
    cursor: pointer;
    .m-switch-v2-inner {
      border-color: var(--m-color-v2-primary);
      box-shadow: 0 0 0 2px var(--m-color-v2-primary-light-8);
    }
  }

  .m-switch-v2__inner {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(var(--m-size-v2-height) - var(--m-size-v2-height) / 4);
  }

  .m-switch-v2-inner {
    position: relative;
    width: calc(var(--m-size-v2-height) * 0.9 * 2);
    height: calc(var(--m-size-v2-height) * 0.9);
    border-radius: calc(var(--m-size-v2-height) * 0.9);
    border: 1px solid var(--m-color-v2-border);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 1px;
    transition: 0.2s ease-in-out;
    background-color: var(--m-color-v2-border);
  }

  .m-switch-v2-thumb {
    width: calc(var(--m-size-v2-height) * 0.7);
    height: calc(var(--m-size-v2-height) * 0.7);
    border-radius: 50%;
    background-color: #fff;
  }

  .m-switch-v2-text {
    color: var(--m-color-v2-font);
    font-size: var(--m-size-v2-font);
  }

  .m-switch-v2-text + .m-switch-v2-inner {
    margin-left: var(--m-size-v2-padding);
  }
  .m-switch-v2-inner + .m-switch-v2-text {
    margin-left: var(--m-size-v2-padding);
  }
  .m-switch-v2-text-inactive {
    font-weight: bold;
    color: var(--m-color-v2-primary);
  }
}

.m-switch-v2.is-disabled {
  &:hover {
    cursor: not-allowed;
    .m-switch-v2-inner {
      cursor: not-allowed;
      border-color: var(--m-color-v2-border);
      box-shadow: none;
    }
  }
}

.m-switch-v2.m-switch-v2-active {
  .m-switch-v2-inner {
    background-color: var(--m-color-v2-primary);
    border-color: var(--m-color-v2-primary);
    justify-content: flex-end;
  }
  .m-switch-v2-text-inactive {
    color: var(--m-color-v2-primary);
  }

  .m-switch-v2-text-inactive {
    font-weight: normal;
    color: var(--m-color-v2-font);
  }

  .m-switch-v2-text-active {
    font-weight: bold;
    color: var(--m-color-v2-primary);
  }
}
