@use "../styles/animation.scss";

.m-dialog-v2 {
  transition: var(--m-animation-time, 0.2s);
  height: 100%;
  max-height: calc(100vh - var(--m-size-v2-padding) * 2);
  z-index: 1;
  .m-dialog-v2-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: var(--m-dialog-v2-offset-y);
    margin-left: var(--m-dialog-v2-offset-x);
    box-shadow: 0 12px 32px 4px rgb(0 0 0 / 4%), 0 8px 20px rgb(0 0 0 / 8%);
    background-color: var(--m-color-v2-bg);
    border-radius: var(--m-size-v2-radius);
    overflow: hidden;
    transition: var(--m-animation-time, 0.2s);
    max-height: calc(100vh - var(--m-size-v2-padding, 10px) * 2);

    .m-dialog-v2-content_header {
      position: relative;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      font-size: calc(var(--m-size-v2-font) + 2px) !important;
      font-weight: bold;
      color: var(--m-color-v2-font);
      border-bottom: 1px solid var(--m-color-v2-border);
      .title_body {
        padding: calc(var(--m-size-v2-padding)) !important;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: calc(var(--m-size-v2-font) + 1px);
        .is_title_body {
          font-size: calc(var(--m-size-v2-font) + 1px);
        }
        .sub_title_body {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          font-size: calc(var(--m-size-v2-font, 13px) + 1px);
        }
      }

      .m-dialog-v2-content_header_close {
        position: relative;
        width: calc(var(--m-size-v2-font, 13px) * 1.5 + var(--m-size-v2-padding, 10px) * 2);
        height: -webkit-fill-available;
        height: -moz-available; /* Firefox */
        height: stretch; /* 其他浏览器 */
        background-color: var(--m-color-v2-danger-light-4);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--m-color-v2-white);
        font-size: calc(var(--m-size-v2-font, 13px) + 3px);
        transition: var(--m-animation-time, 0.2s);
        &:hover {
          cursor: pointer;
          background-color: var(--m-color-v2-danger);
        }
      }
    }
    .m-dialog-v2-content_body {
      height: 1px;
      flex: 1;
      .dialog__body {
        width: 100%;
        height: 100%;
        // overflow: hidden;
      }
      .dialog__body.padding-top {
        height: calc(100% - calc(var(--m-size-v2-padding, 10px)));
        padding-top: calc(var(--m-size-v2-padding, 10px)) !important;
      }
      .dialog__body.padding-left {
        width: calc(100% - calc(var(--m-size-v2-padding, 10px)));
        padding-left: calc(var(--m-size-v2-padding, 10px)) !important;
      }
      .dialog__body.padding-bottom {
        height: calc(100% - calc(var(--m-size-v2-padding, 10px)));
        padding-bottom: calc(var(--m-size-v2-padding, 10px)) !important;
      }
      .dialog__body.padding-right {
        width: calc(100% - calc(var(--m-size-v2-padding, 10px)));
        padding-right: calc(var(--m-size-v2-padding, 10px)) !important;
      }
      .dialog__body.padding-top.padding-bottom {
        height: calc(100% - calc(var(--m-size-v2-padding, 10px)) * 2);
      }
      .dialog__body.padding-left.padding-right {
        width: calc(100% - calc(var(--m-size-v2-padding, 10px)) * 2);
      }
    }
  }

  .full_icon {
    display: flex !important;
    width: calc(var(--m-size-v2-height) - 9px);
    height: calc(var(--m-size-v2-height) - 9px);
    color: var(--m-color-v2-info-light-3);
    border: 1px solid;
    border-radius: var(--m-size-v2-radius);
    transition: var(--m-animation-time, 0.2s);
    &:hover {
      color: var(--m-color-v2-primary);
    }
  }

  .m-dialog-v2-content_footer {
    position: relative;
    padding: calc(var(--m-size-v2-padding, 10px) / 1.5) !important;
    border-top: 1px solid var(--m-color-v2-border);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:has(.m-dialog-v2-content_footer_left),
    &:has(.m-dialog-v2-content_footer_right) {
      justify-content: space-between;
      .m-dialog-v2-content_footer_center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .m-dialog-v2-content_footer_left,
    .m-dialog-v2-content_footer_right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--m-size-v2-height);
    }
  }
}

.m-dialog-v2.out-of-range {
  height: 100% !important;
}
.m-dialog-v2_full {
  height: 100% !important;
  width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  border-radius: 0 !important;
  > .m-dialog-v2-content {
    max-height: 100% !important;
    border-radius: 0px !important;
  }
}
