@use "../styles/animation.scss";

.pa-drawer {
  width: max-content;
  height: max-content;
  z-index: 1;
  .pa-drawer-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-shadow: 0 12px 32px 4px rgb(0 0 0 / 4%), 0 8px 20px rgb(0 0 0 / 8%);
    background-color: var(--pa-color-bg);
    overflow: hidden;
    transition: var(--pa-animation-time, 0.2s);

    .pa-drawer-content_header {
      position: relative;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      font-size: calc(var(--pa-size-font, 13px) + 2px) !important;
      font-weight: bold;
      color: var(--pa-color-font);
      border-bottom: 1px solid var(--pa-color-border);
      .title_body {
        padding: calc(var(--pa-size-padding, 10px)) !important;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: calc(var(--pa-size-font, 13px) * 1.5);
        font-size: calc(var(--pa-size-font, 13px) + 1px);
        .is_title_body {
          font-size: calc(var(--pa-size-font, 13px) + 1px);
        }
        .sub_title_body {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          font-size: calc(var(--pa-size-font, 13px) + 1px);
        }
      }

      .pa-drawer-content_header_close {
        position: relative;
        width: calc(var(--pa-size-font, 13px) * 1.5 + var(--pa-size-padding, 10px) * 2);
        height: calc(var(--pa-size-font, 13px) * 1.5 + var(--pa-size-padding, 10px) * 2);
        background-color: var(--pa-color-danger-light-4);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: calc(var(--pa-size-font, 13px) + 3px);
        transition: 0.31s;
        &:hover {
          cursor: pointer;
          background-color: var(--pa-color-danger);
        }
      }
    }
    .pa-drawer-content_body {
      height: 1px;
      flex: 1;
      .pa-drawer-content_body_content {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .pa-drawer-content_body_content.padding-top {
        height: calc(100% - calc(var(--pa-size-padding, 10px)));
        padding-top: calc(var(--pa-size-padding, 10px)) !important;
      }
      .pa-drawer-content_body_content.padding-left {
        width: calc(100% - calc(var(--pa-size-padding, 10px)));
        padding-left: calc(var(--pa-size-padding, 10px)) !important;
      }
      .pa-drawer-content_body_content.padding-bottom {
        height: calc(100% - calc(var(--pa-size-padding, 10px)));
        padding-bottom: calc(var(--pa-size-padding, 10px)) !important;
      }
      .pa-drawer-content_body_content.padding-right {
        width: calc(100% - calc(var(--pa-size-padding, 10px)));
        padding-right: calc(var(--pa-size-padding, 10px)) !important;
      }
      .pa-drawer-content_body_content.padding-top.padding-bottom {
        height: calc(100% - calc(var(--pa-size-padding, 10px)) * 2);
      }
      .pa-drawer-content_body_content.padding-left.padding-right {
        width: calc(100% - calc(var(--pa-size-padding, 10px)) * 2);
      }
    }
  }

  .pa-drawer-content.right {
    height: 100% !important;
    width: 500px;
    border-top-left-radius: var(--pa-size-radius, 3px);
    border-bottom-left-radius: var(--pa-size-radius, 3px);
  }

  .pa-drawer-content.left {
    height: 100% !important;
    width: 500px;
    border-top-right-radius: var(--pa-size-radius, 3px);
    border-bottom-right-radius: var(--pa-size-radius, 3px);
  }
  .pa-drawer-content.top {
    height: 200px;
    width: 100% !important;
    border-bottom-left-radius: var(--pa-size-radius, 3px);
    border-bottom-right-radius: var(--pa-size-radius, 3px);
  }
  .pa-drawer-content.bottom {
    height: 200px;
    width: 100% !important;
    border-top-left-radius: var(--pa-size-radius, 3px);
    border-top-right-radius: var(--pa-size-radius, 3px);
  }

  .pa-drawer-content_full {
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }

  .pa-drawer-content_footer {
    padding: var(--pa-size-padding, 10px) !important;
    border-top: 1px solid var(--pa-color-border);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.pa-drawer:has(.pa-drawer-content.right),
.pa-drawer:has(.pa-drawer-content.left) {
  height: 100%;
}

.pa-drawer:has(.pa-drawer-content.top),
.pa-drawer:has(.pa-drawer-content.bottom) {
  width: 100%;
}
